.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Blocks
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Block Drops
                :markdown
                    This module can be used to customize what items drop when blocks are broken, and what the broken block is replaced with.

                    The `<blockdrops>` module can contain any number of `<rule>` elements, and each `<rule>` can contain various sub-elements.

                    ##### Rule Sub-elements
                .table-responsive
                    %table.table.table-striped.table-hover.table-condensed.table-bordered
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th Value/Children
                        %tdata
                            %tr
                                %td
                                    %code &lt;filter&gt;
                                %td Filter what blocks get modified by this rule.
                                %td
                                    %a{:href => "/modules/filters"} Filters
                            %tr
                                %td
                                    %code &lt;region&gt;
                                %td The region this rule applies to, treated as a region union.
                                %td
                                    %a{:href => "/modules/regions"} Regions
                            %tr
                                %td
                                    %code &lt;drops&gt;
                                %td The items which get dropped when a matching block is mined.
                                %td
                                    %a{:href => "/modules/items"} Items
                            %tr
                                %td
                                    %code &lt;experience&gt;
                                %td The amount of XP that gets dropped.
                                %td
                                    %span.label.label-primary Number
                            %tr
                                %td
                                    %code &lt;replacement&gt;
                                %td What to replace the mined block with. (Defaults to air)
                                %td
                                    %a{:href => "http://jd.bukkit.org/dev/apidocs/org/bukkit/Material.html"} Bukkit Material
                            %tr
                                %td
                                    %code &lt;wrongtool&gt;
                                %td Drop items regardless of what tool was used to mine the block.
                                %td
                                    %span.label.label-primary true/false


                :markdown

                    The `<filter>` element is used to limit the rule to particular blocks. If multiple filters are listed, the rule will apply when *any* of them match. This filter is usually used to only filter what blocks the rule applies to. If filters such as `<team>` are used then no items or XP will drop if the block is mined by a non-matching player, the rules `<replacement>` material will still take effect however.

                    Items specified in the `<drops>` element can have any of the item attributes such as custom names, enchantments, attributes, etc. XP orbs are dropped by specifying the amount in the `<experience>` tag.

                    By default, custom drops won't appear if a block is mined with the "wrong" tool, e.g. stone mined with a shovel.
                    If `<wrongtool>true</wrongtool>` is added, the custom drops will happen regardless of what tool was used.

                    Custom drops also apply to blocks broken by explosions. In this case, the custom drops are reduced by 70% just like default explosion drops, though this can be customized through the [TNT module](/modules/tnt). Blocks broken by means other than mining or explosions currently do not cause custom drops.

                    Examples

                        <blockdrops>
                            <rule>
                                <region>
                                    <cuboid min="1,2,3" max="4,5,6"/>
                                </region>
                                <filter>
                                    <block>iron ore</block>
                                    <block>iron block</block>
                                </filter>
                                <drops>
                                    <item>iron ingot</item>
                                </drops>
                                <experience>1</experience>
                                <replacement>stone</replacement>
                                <wrongtool>false</wrongtool>
                            </rule>
                            <rule>
                                <filter>
                                    <block>lapis ore</block>
                                </filter>
                                <drops>
                                    <item>lapis ore</item>
                                </drops>
                            </rule>
                            <rule>
                                <filter>
                                    <block>emerald ore</block>
                                </filter>
                                <drops>
                                    <item>emerald ore</item>
                                </drops>
                            </rule>
                        </blockdrops>
