.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Classes
                :markdown
                    Classes allow the player to pick a specific class at the beginning of the game which gives them special abilities. Classes can be used on any map type, however care must be taken to balance them properly. Players can then change their class ingame with the `/class` command.

                        <classes family="ghost" sticky="true">
                            <class name="Demon" default="true" description="Smoke and Fire!" icon="fireball">
                                <permission>grenades.use</permission>
                                <kit>
                                    <potion duration="oo" amplifier="2" ambient="true">damage resistance</potion>
                                    <potion duration="oo" amplifier="1" ambient="true">speed</potion>
                                    <item slot="8" amount="16">cooked beef</item>
                                    <item slot="1" amount="5" name="`3Grenade">fireball</item>
                                </kit>
                            </class>
                        </classes>

                    ##### Class Attributes
                .table-responsive
                    %table.table.table-striped.table-hover.table-condensed.table-bordered
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %code name=""
                                %td
                                    Name of the class.
                            %tr
                                %td
                                    %code description=""
                                %td
                                    Description shown in
                                    %code /classes
                            %tr
                                %td
                                    %code longdescription=""
                                %td
                                    Description shown in class picker menu.
                            %tr
                                %td
                                    %code icon=""
                                %td
                                    Icon (material) shown in the class picker menu.
                            %tr
                                %td
                                    %code family="ghost"
                                %td
                                    "group" of classes (ghost squadron is "ghost").
                            %tr
                                %td
                                    %code sticky="false"
                                %td
                                    If set to
                                    %code true
                                    players can't change the class mid game, instead they have to rejoin.
                            %tr
                                %td
                                    %code default="false"
                                %td
                                    Specify if the class is the default class for new players.
                            %tr
                                %td
                                    %code restrict="true"
                                %td
                                    If set to
                                    %code false
                                    only players with the proper permission can use the class.
                            %tr

                :markdown
                    The `sticky=""` attribute defaults to `false`, which would allow players to change their class midgame.
                    See [bukkit docs - Material](http://jd.bukkit.org/rb/doxygen/d6/d0e/enumorg_1_1bukkit_1_1Material.html#pub-attribs) for icon material names for the `icon=""` attribute.

                    <br/>
                    #### Class Submodules
                    A class module can contain `<permission>` nodes and kits. Permission nodes give players with that class specific permissions. Players can be give any permission from any of the currently loaded plugins.

                        <class name="Leprachaun" description="Sticky XP Orbs with double jump!" longdescription="XP bar is a double-jump cooldown, use Bottle O' Enchanting to track enemies with XP orbs!" icon="exp bottle">
                            <!-- The classes permissions -->
                            <permission>gs.ability.agility</permission>
                            <!-- The classes kit -->
                            <kit parents="potions">
                                <item slot="0" amount="5" name="`a`lBottle o' Gold">exp bottle</item>
                                <item slot="2" amount="16">cooked beef</item>
                                <double-jump/>
                            </kit>
                        </class>

                    <br/>
                    #### Permission Nodes
                    The following permission nodes can be added to a class to give the player special ghost squadron abilities. `Note:` This only works on `<ghostsquadron/>` maps!
                .table-responsive
                    %table.table.table-striped.table-hover.table-condensed.table-bordered
                        %thead
                            %tr
                                %th Permission
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %code gs.ability.webbreak
                                %td
                                    Gives the player the ability to instantly destroy webs.
                            %tr
                                %td
                                    %code gs.ability.revealpunch
                                %td
                                    Gives the player the ability to reveal invisible enemies by punching them.
                            %tr
                                %td
                                    %code gs.ability.track
                                %td
                                    Gives the player the ability to see footsteps behind enemies.
                            %tr
                                %td
                                    %code gs.ability.placelandmine
                                %td
                                    Gives the player the ability to place TNT land mines.
                            %tr
                                %td
                                    %code gs.ability.webbow
                                %td
                                    Gives the player the ability to shoot flying cobwebs from their bow.
                            %tr
                                %td
                                    %code gs.ability.agility
                                %td
                                    Gives the player the ability to walk on water.
                            %tr
                                %td
                                    %code gs.ability.spideysense
                                %td
                                    Gives the player the ability to detect enemies by getting a flashing night-vision effect and hearing a sound when an enemy is near.
                            %tr
                                %td
                                    %code grenades.use
                                %td
                                    Gives the player the ability to throw fireball grenades.
