.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Disable Damage"
                :markdown
                    Use this module to disable damage from specific causes. While almost every form of damage can be disabled it is recommended that you do not disable `VOID` damage.

                        <disabledamage>
                            <!-- Disable fall damage -->
                            <damage>fall</damage>
                        </disabledamage>

                %br
                %h5 Damage Causes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Name
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %code CONTACT
                                %td
                                    Damage caused when an entity contacts a block such as a Cactus.
                            %tr
                                %td
                                    %code ENTITY_ATTACK
                                %td
                                    Damage caused when an entity attacks another entity.
                            %tr
                                %td
                                    %code PROJECTILE
                                %td
                                    Damage caused when attacked by a projectile.
                            %tr
                                %td
                                    %code SUFFOCATION
                                %td
                                    Damage caused by being put in a block.
                            %tr
                                %td
                                    %code FALL
                                %td
                                    Damage caused when an entity falls a distance greater than 3 blocks.
                            %tr
                                %td
                                    %code FIRE
                                %td
                                    Damage caused by direct exposure to fire.
                            %tr
                                %td
                                    %code FIRE_TICK
                                %td
                                    Damage caused due to burns caused by fire.
                            %tr
                                %td
                                    %code MELTING
                                %td
                                    Damage caused due to a snowman melting.
                            %tr
                                %td
                                    %code LAVA
                                %td
                                    Damage caused by direct exposure to lava.
                            %tr
                                %td
                                    %code DROWNING
                                %td
                                    Damage caused by running out of air while in water.
                            %tr
                                %td
                                    %code BLOCK_EXPLOSION
                                %td
                                    Damage caused by being in the area when a block explodes.
                            %tr
                                %td
                                    %code ENTITY_EXPLOSION
                                %td
                                    Damage caused by being in the area when an entity, such as a Creeper, explodes.
                            %tr
                                %td
                                    %code VOID
                                %td
                                    Damage caused by falling into the void.
                            %tr
                                %td
                                    %code LIGHTNING
                                %td
                                    Damage caused by being struck by lightning.
                            %tr
                                %td
                                    %code SUICIDE
                                %td
                                    Damage caused by committing suicide using the command "/kill".
                            %tr
                                %td
                                    %code STARVATION
                                %td
                                    Damage caused by starving due to having an empty hunger bar.
                            %tr
                                %td
                                    %code POISON
                                %td
                                    Damage caused due to an ongoing poison effect.
                            %tr
                                %td
                                    %code MAGIC
                                %td
                                    Damage caused by being hit by a damage potion or spell.
                            %tr
                                %td
                                    %code WITHER
                                %td
                                    Damage caused by Wither potion effect.
                            %tr
                                %td
                                    %code FALLING_BLOCK
                                %td
                                    Damage caused by being hit by a falling block which deals damage.
                            %tr
                                %td
                                    %code THORNS
                                %td
                                    Damage caused in retaliation to another attack by the Thorns enchantment.
                            %tr
                                %td
                                    %code CUSTOM
                                %td
                                    Custom damage.

                :markdown
                    Copied from: [bukkit docs - Damage Cause](http://jd.bukkit.org/rb/doxygen/de/d62/enumorg_1_1bukkit_1_1event_1_1entity_1_1EntityDamageEvent_1_1DamageCause.html)

                    <br/>
                    #### [Block Explosion Attributes](id:block_explosion)

                    The `BLOCK_EXPLOSION` damage cause has several extended attributes to customize who/what gets damaged. Only attributes with `false` as the value need to be explicitly defined since all attributes default to `true`.

                        <disabledamage>
                            <!-- TNT damages enemies and self, but not teammates -->
                            <damage ally="true" self="false" enemy="false" other="false">block explosion</damage>
                        </disabledamage>

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code ally
                                %td Damage to players on the same team as the person that caused the explosion.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code self
                                %td Damage to the person that caused the explosion.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code enemy
                                %td Damage to players not on the same team as the person that caused the explosion.
                                %td
                                    %span.label.label-primary true/false
                                %td true
                            %tr
                                %td
                                    %code other
                                %td Any other damage caused by the explosion.
                                %td
                                    %span.label.label-primary true/false
                                %td true
