.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Disable Damage
                :markdown
                    Use this module to disable damage from specific causes. While almost every form of damage can be disabled it is recommended that you do not disable `VOID` damage.

                        <disabledamage>
                            <!-- Disable fall damage -->
                            <damage>fall</damage>
                        </disabledamage>
                
                %br
                %h5 Damage Causes
                .table-responsive
                    %table.table.table-striped.table-hover.table-condensed.table-bordered
                        %thead
                            %tr
                                %th Name
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %code CONTACT
                                %td 
                                    Damage caused when an entity contacts a block such as a Cactus.
                            %tr
                                %td
                                    %code ENTITY_ATTACK
                                %td 
                                    Damage caused when an entity attacks another entity. 
                            %tr
                                %td
                                    %code PROJECTILE
                                %td 
                                    Damage caused when attacked by a projectile. 
                            %tr
                                %td
                                    %code SUFFOCATION
                                %td 
                                    Damage caused by being put in a block. 
                            %tr
                                %td
                                    %code FALL
                                %td 
                                    Damage caused when an entity falls a distance greater than 3 blocks. 
                            %tr
                                %td
                                    %code FIRE
                                %td 
                                    Damage caused by direct exposure to fire.
                            %tr
                                %td
                                    %code FIRE_TICK
                                %td 
                                    Damage caused due to burns caused by fire. 
                            %tr
                                %td
                                    %code MELTING
                                %td 
                                    Damage caused due to a snowman melting. 
                            %tr
                                %td
                                    %code LAVA
                                %td 
                                    Damage caused by direct exposure to lava. 
                            %tr
                                %td
                                    %code DROWNING
                                %td 
                                    Damage caused by running out of air while in water. 
                            %tr
                                %td
                                    %code BLOCK_EXPLOSION
                                %td 
                                    Damage caused by being in the area when a block explodes. 
                            %tr
                                %td
                                    %code ENTITY_EXPLOSION
                                %td 
                                    Damage caused by being in the area when an entity, such as a Creeper, explodes. 
                            %tr
                                %td
                                    %code VOID
                                %td 
                                    Damage caused by falling into the void. 
                            %tr
                                %td
                                    %code LIGHTNING
                                %td 
                                    Damage caused by being struck by lightning. 
                            %tr
                                %td
                                    %code SUICIDE
                                %td 
                                    Damage caused by committing suicide using the command "/kill". 
                            %tr
                                %td
                                    %code STARVATION
                                %td 
                                    Damage caused by starving due to having an empty hunger bar. 
                            %tr
                                %td
                                    %code POISON
                                %td 
                                    Damage caused due to an ongoing poison effect. 
                            %tr
                                %td
                                    %code MAGIC
                                %td 
                                    Damage caused by being hit by a damage potion or spell. 
                            %tr
                                %td
                                    %code WITHER
                                %td 
                                    Damage caused by Wither potion effect. 
                            %tr
                                %td
                                    %code FALLING_BLOCK
                                %td 
                                    Damage caused by being hit by a falling block which deals damage. 
                            %tr
                                %td
                                    %code THORNS
                                %td 
                                    Damage caused in retaliation to another attack by the Thorns enchantment. 
                            %tr
                                %td
                                    %code CUSTOM
                                %td 
                                    Custom damage. 

                :markdown
                    Copied from: [bukkit docs Damage Cause](http://jd.bukkit.org/rb/doxygen/de/d62/enumorg_1_1bukkit_1_1event_1_1entity_1_1EntityDamageEvent_1_1DamageCause.html)
