.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "King of the Hill"
                :markdown
                    KotH is a gamemode in which you capture and hold a hill to collect points. The first team to control all hills or reach a preset amount of points wins. A KotH map can have multiple hills each with their own attributes such as capture time, etc.

                    KotH maps use [control points](/modules/control_points) to define hills. Instead of `<control-points>` they are called `<hills>` and must be defined inside a main `<king>` element. The main difference between hills and control points is what their default values are.

                :markdown
                        <king>
                            <hills>
                                <hill name="Hill" capture-time="10s" points="1">
                                    <capture><region name="hill"/></capture>
                                    <progress><cuboid min="-5,71,-5" max="5,71,5"/></progress>
                                </hill>
                            </hills>
                        </king>

                    <br/>
                    #### [Scoring](id:scoring)
                    KotH games use the `<score>` module to end the game when one team reaches a preset amount of points. By default no points are scored for kills or deaths, this means that players have to actually capture hills to get points.

                        <score>
                            <limit>500</limit>
                        </score>
