.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Capture the Wool
                :markdown
                    Players have to retrieve wool blocks from the enemy teams side of the map and then put them on their victory monument(s). The area a wool has to be placed in is protected by default to prevent it from being blocked with another block.

                        <wools>
                            <wool team="blue" color="lime">
                                <block>0.5,11,-92.5</block>
                                <!-- Blue team has to place a lime wool block at 0.5,11,-92.5 to win -->
                            </wool>
                            <wool team="green" color="light blue" craftable="false">
                                <block>0.5,11,93.5</block>
                                <!-- Light blue wool can not be crafted, it must be picked up -->
                            </wool>
                        </wools>

                    ##### Wool Attributes
                .table-responsive
                    %table.table.table-striped.table-hover.table-condensed.table-bordered
                        %thead
                            %tr
                                %th Name
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code team=""
                                %td The team which has to place the wool.
                                %td
                                    %a{:href => "/modules/teams"} Team Name
                            %tr
                                %td
                                    %code color=""
                                %td The wools color.
                                %td
                                    %a{:href => "/reference/colors"} Dye Color Name
                            %tr
                                %td
                                    %code craftable=""
                                %td Specify if the wool can be crafted, e.g. with white wool and dye.
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code show="true"
                                %td
                                    Specify if the objective should be hidden from all visible locations to the player. These locations include chat, the boss bar, and the scoreboard.
                                    %br
                                    %code NOTE:
                                    The objective will also not be logged to the Database and the player will not recieve any raindrops upon completion.
                                %td
                                    %span.label.label-primary true/false
                :markdown
                    You can group multiple victory monuments from the same team inside a single `<wools team="team name">` element; and then define that teams individual wool colors inside of a `<wool>` element.

                        <wools team="red">
                            <wool color="cyan">
                                <block>-60,26,-118</block>
                            </wool>
                            <wool color="lime">
                                <block>-60,26,-121</block>
                            </wool>
                        </wools>
                        <wools team="blue">
                            <wool color="magenta">
                                <block>-117,26,-115</block>
                            </wool>
                            <wool color="lime">
                                <block>-117,26,-121</block>
                            </wool>
                        </wools>
