.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Gamerules"
                :markdown
                    Minecraft's game rules can be set via the `<gamerules>` element in the `map.xml`. Syntax is as follows:

                        <gamerules>
                            <doDaylightCycle>false</doDaylightCycle>
                            <naturalRegeneration>false</naturalRegeneration>
                        </gamerules>

                    `NOTE:` When specifying the `doDaylightCycle` gamerule, you should either use the `<doDaylightCycle>` element, or `<timelock>`.  One will overwrite the other, so be consistent.

                    <br/>
                    ##### Currently Supported Gamerules

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Rule Name
                                %th Description
                                %th Values
                        %tbody
                            %tr
                                %td
                                    %code doFireTick
                                %td Toggles whether firespread occurs.
                                %td
                                    %span.label.label-primary true / false
                            %tr
                                %td
                                    %code doTileDrops
                                %td Toggles whether tile entities drop.
                                %td
                                    %span.label.label-primary true / false
                            %tr
                                %td
                                    %code doMobLoot
                                %td Toggles whether mobs drop loot on death.
                                %td
                                    %span.label.label-primary true / false
                            %tr
                                %td
                                    %code mobGriefing
                                %td Toggles whether mobs such as Creepers and Endermen cause enviromental damage.
                                %td
                                    %span.label.label-primary true / false
                            %tr
                                %td
                                    %code naturalRegeneration
                                %td Toggles whether or not players naturally regain heath.
                                %td
                                    %span.label.label-primary true / false
                            %tr
                                %td
                                    %code doDaylightCycle
                                %td Toggles whether or not the time tick occurs.
                                %td
                                    %span.label.label-primary true / false

                :markdown
                    ##### Unsupported Gamerules

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Rule
                                %th Reason
                        %tbody
                            %tr
                                %td
                                    %code doMobSpawning
                                %td
                                    Not supported in favor of the
                                    %a{:href => "/modules/mobs"} mobs
                                    element.
                            %tr
                                %td
                                    %code keepInventory
                                %td Not supported since PGM already solves this with kits.
                            %tr
                                %td
                                    %code commandBlockOutput
                                %td Command blocks are disabled in PGM.
                            %tr
                                %td
                                    %code logAdminCommands
                                %td Not useful in custom maps.
                            %tr
                                %td
                                    %code randomTickSpeed
                                %td Not useful in custom maps.
                            %tr
                                %td
                                    %code reducedDebugInfo
                                %td Not useful in custom maps.
                            %tr
                                %td
                                    %code sendCommandFeedback
                                %td Not useful in custom maps.
                            %tr
                                %td
                                    %code showDeathMessages
                                %td Not useful in custom maps.
