.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Gamerules
                :markdown
                    Minecraft's [game rules]() can be set via the `<gamerules>` element in the map.xml.  Syntax is as follows:

                        <gamerules>
                            <doDaylightCycle>false</doDaylightCycle>
                            <naturalRegeneration>false</naturalRegeneration>
                        </gamerules>

                    `NOTE:` When specifing the `doDaylightCycle` gamerule, you should either use the `<doDaylightCycle>` element, or `<timelock>`.  One will overwrite the other, so be consistent.

                    Currently supported gamerules include:
                    - commandBlockOutput
                    - doFireTick
                    - doMobLoot
                    - doMobSpawning
                    - doTileDrops
                    - keepInventory
                    - mobGriefing
                    - naturalRegeneration
                    - doDaylightCycle

                    Currently supported gamerule values include:
                    - `true`
                    - `false`
