.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Game Modes
.container
    %section
        .page-header
            %h1 Other Game Modes
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    #### [Ghost Squadron](id:gs)
                    Enables the ghostsquadron gamemode and all its features.

                    `NOTE:` This module must be used in conjunction with another gamemode.

                        <ghostsquadron/>

                        <blitz>
                            <time>6m</time>
                            <broadcastLives>false</broadcastLives>
                            <title>Ghost Squadron</title>
                        </blitz>

                    <br/>
                    #### [Rage](id:rage)
                    Enable the one hit kill, rage style gamemode.

                    One hit kills will only be applied to items that have a sharpness enchantment greater than level 1. One shot arrow kills will only be applied to bows that have a power enchantment greater than level 1. 
                    
                    `NOTE:` This module must be used in conjunction with another gamemode.

                        <rage/>

                        <score>
                            <time>8m</time>                                    
                            <limit>15</limit>
                        </score>
