.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Game Modes
.container
    %section
        .page-header
            %h1 Destroy the Core
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    Players have to locate and break the enemy teams core, usually an obsidian sphere filled with lava. The lava has to leak out a certain amount for the game to end. Teams can have more than one core. Cores automatically change from their base material to gold after 15 minutes and glass after 20.

                        <cores material="obsidian" leak="8">
                            <core team="blue"><region min="10,15,12" max="12,13,16"/></core>
                        </cores>

                    Leak specifies how far the lava / water in the core has to leak out for the game to end. Whatever is inside of the core cannot be available anywhere on the map, otherwise a core leak could be faked.