.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Team Death-match
                :markdown
                    Game will run for a specified amount of time and then the team with the highest score wins. Teams increase their score by killing players from the other team or capturing points from a [score box](/modules/score_boxes).

                    [Time Formatters](/reference/formatting#time_formatters)

                        <score>
                            <!-- Time till the match ends in seconds -->    
                            <time>600</time>
                                    
                            <!-- Game ends when a team reaches this score, defaults to -1 i.e. no limit. -->
                            <limit>-1</limit>
                        </score>
                        
                    Kill scoring works as follows. Killing a player adds 1 point to the killers team score, kills from environmental damage such as lava or the void subtract 1 point from the dying players team score.
