.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Game Modes
.container
    %section
        .page-header
            %h1 Ghost Squadron
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    Enables the ghostsquadron gamemode and all its features.

                    `NOTE:` This module must be used in conjunction with another gamemode.

                        </ghostsquadron>

                        <blitz>
                            <time>6m</time>
                            <broadcastLives>false</broadcastLives>
                            <title>Ghost Squadron</title>
                        </blitz>