.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Game Modes
.container
    %section
        .page-header
            %h1 Capture the Wool
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    Players have to retrieve wool blocks from the enemy teams side of the map and then put them into their victory monument(s). The area a wool has to be placed in is protected by default to prevent it from being blocked with another block.

                        <wools>
                           <wool team="blue" color="lime">                  
                               <block>0.5,11,-92.5</block>
                               <!-- Blue team has to place a lime wool block at 0.5,11,-92.5 to win --> 
                           </wool>
                           <wool team="green" color="light blue">
                               <block>0.5,11,93.5</block>
                           </wool>
                        </wools>
                        
                    You can group multiple victory monuments from the same team inside a single `<wools team="team name">` element; and then define that teams individual wool colours inside of a `<wool>` element.

                        <wools team="red">
                            <wool color="cyan">
                                <block>-60,26,-118</block>
                            </wool>
                            <wool color="lime">
                                <block>-60,26,-121</block>
                            </wool>
                        </wools>
                        <wools team="blue">
                            <wool color="magenta">
                                <block>-117,26,-115</block>
                            </wool>
                            <wool color="lime">
                                <block>-117,26,-121</block>
                            </wool>
                        </wools>
                       
                    See [bukkit docs - Dye Colour](http://jd.bukkit.org/doxygen/d2/d1c/enumorg_1_1bukkit_1_1DyeColor.html) for valid wool color names.