.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Destroy the Core
                :markdown
                    Players have to locate and break the enemy teams core, usually an obsidian sphere filled with lava. The lava has to leak out a certain amount for the game to end. Teams can have more than one core. Cores automatically change from their base material to gold after 15 minutes and glass after 20.
                    The materials attribute follows the system of Obsidian -> Gold, Gold -> Glass system. However if you set the material to anything other than Obsidian, Gold or Glass, it will not cycle to another block type.

                        <cores material="obsidian" leak="8">
                            <core team="blue"><cuboid min="10,15,12" max="12,13,16"/></core>
                        </cores>

                    Leak specifies how far the lava / water in the core has to leak out for the game to end. Whatever is inside of the core shouldn't be available anywhere else on the map, otherwise a core leak could be faked. This can be avoided by keeping the lava / water far away enough from the core and not giving players buckets or the ability to craft them.
