.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Destroy the Core
                :markdown
                    Players have to locate and break the enemy team's core, usually an obsidian sphere filled with lava. The lava has to leak down a certain distance for the core to be destroyed. Teams can have more than one core and each core can be made out of different materials.

                    ##### Core Attributes
                .table-responsive
                    %table.table.table-striped.table-hover.table-condensed.table-bordered
                        %thead
                            %tr
                                %th Name
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code name=""
                                %td The core's name, used in notification messages.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %code leak="5"
                                %td Distance below the bottom of the core region that the lava must leak.
                                %td
                                    %span.label.label-primary Number
                            %tr
                                %td
                                    %code material="obsidian"
                                %td The core casing material, used to detect breaks, and for mode changes.
                                %td
                                    %a{:href => "http://jd.bukkit.org/dev/apidocs/org/bukkit/Material.html"} Bukkit Material
                            %tr
                                %td
                                    %code team=""
                                %td Team the core belongs to, i.e. its owner.
                                %td
                                    %a{:href => "/modules/teams"} Team Name
                            %tr
                                %td
                                    %code mode-changes=""
                                %td
                                    Specify if this core uses
                                    = succeed "." do
                                        %a{:href => "/modules/monument_modes"} monument modes
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code show="true"
                                %td
                                    Specify if the core should be hidden from all visible locations to the player. These locations include chat, the boss bar, and the scoreboard.
                                    %br
                                    %code NOTE:
                                    The objective will also not be logged to the Database and the player will not recieve any raindrops upon completion.
                                %td
                                    %span.label.label-primary true/false
                :markdown

                        <cores material="obsidian" leak="8">
                            <core team="blue"><cuboid min="10,15,12" max="12,13,16"/></core>
                        </cores>

                    Lava should not be available anywhere else on the map, otherwise a core leak could be faked. This can be avoided by keeping the lava far away enough from the core and not giving players buckets or the ability to craft them.
