.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead General
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 XML File Includes
                :markdown
                    A XML file can be split into multiple files and then included into the main one by using the include element. This allows you to keep the main file more organized by including sections such as kits or classes.

                        <include src="classes.xml"/>

                    The PGM plugin will look through it's plugin-wide include path for includes, and it will also look for them relative to from where they are imported. You can set up a chain of includes that respects those same semantics.

                    Included XML files should have the XML header and the main map container.

                    Example

                        <?xml version="1.0"?>
                        <map proto="#{$map_proto}">

                        <!-- Add kits, classes etc., here -->

                        </map>

                    The master map repository contains the following XML files for you to use
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th File
                                %th Description
                        %tbody
                            %tr
                                %td 
                                    %a{:href => "https://maps.oc.tc/tutorial.xml"} tutorial
                                %td Contains the starting and ending stages of a tutorial

                            %tr
                                %td 
                                    %a{:href => "https://maps.oc.tc/continuity-tnt.xml"} continuity-tnt.xml
                                %td Contains a pre-designed TNT inventory, used on maps such as BoomBox

                            %tr
                                %td 
                                    %a{:href => "https://maps.oc.tc/blasternauts.xml"} blasternauts
                                %td Contains the base XML for an arcade gamemode called 'blasternauts'
                            %tr
                                %td 
                                    %a{:href => "https://maps.oc.tc/Blitz/blitz-global.xml"} blitz-global
                                %td Contains the autorespawn mechanism for blitz maps
                            %tr
                                %td 
                                    %a{:href => "https://maps.oc.tc/Blitz/GS/gs-classes.xml"} gs-classes
                                %td Contains pre-made classes for the Ghost Squadron