.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Items & Armor
                :markdown
                    Item tags have many different attributes, and some may only apply to certain items. Such as the `color=""` attribute, it currently only applies to leather armor.

                    Item names can be found with the [material finder](/reference/inventory#material_finder) or on the [bukkit docs - Material](http://jd.bukkit.org/rb/doxygen/d6/d0e/enumorg_1_1bukkit_1_1Material.html#pub-attribs)

                        <item>item_material_name</item>

                    ##### Item Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code slot
                                %td
                                    Slot where the item will be placed in the players inventory.
                                %td
                                    %a{:href => "/reference/inventory"} Inventory Slots
                                %td
                            %tr
                                %td
                                    %code amount
                                %td The amount of items.
                                %td
                                    %span.label.label-primary Number
                                %td 1
                            %tr
                                %td
                                    %code name
                                %td The items name.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code enchantment
                                %td The item's enchantment(s).
                                %td
                                    %a{:href => "/modules/items#enchantments"} Enchantment String
                                %td
                            %tr
                                %td
                                    %code lore
                                %td Custom lore string.
                                %td
                                    %span.label.label-primary String
                                %td
                            %tr
                                %td
                                    %code damage
                                %td
                                    The items damage, used for items such as birch logs.
                                    %br
                                    %i Use a damage value of <code>-3000</code> to make an tool unbreakable.
                                %td
                                    %span.label.label-primary Number
                                %td 0
                            %tr
                                %td
                                    %code attributes
                                %td Custom attributes, for example, increased health or faster movement speed.
                                %td
                                    %a{:href => "/modules/items#attributes"} Attributes String
                                %td
                            %tr
                                %td
                                    %code color
                                %td Leather armor color as a hexadecimal color. <code>RRGGBB</code>
                                %td
                                    %span.label.label-primary Hex Color
                                %td
                :markdown

                    Items can be give custom names and lore with the `name=""` and `lore=""` attributes. Colors and fancy text in item names or lore can be specified with the grave symbol `` ` and then the [formatting code](/reference/formatting). You can specify multiple lines of lore using a pipe symbol `|` for line breaks.

                        <item lore="Magic Dust">331</item> <!-- Redstone dust with a fancy lore. -->
                        <item name="`6Golden Sword">gold sword</item> <!-- Gold sword with a gold/yellow name. -->
                        <item lore="`4The One and Only">stick</item> <!-- A stick with the lore colored red. -->
                        <item lore="`eWarning!|`5Does damage!">iron sword</item> <!-- A sword with 2 lines of lore. -->

                    <br/>
                    ### Armor
                    Armor slots have predefined tags to make it easier to give them to a player. They accept all of the properties of normal items, and may have their own special attributes.

                        <helmet>iron helmet</helmet>
                        <chestplate>diamond chestplate</chestplate>
                        <leggings>gold leggings</leggings>
                        <boots>leather boots</boots>

                    ##### Armor Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code locked
                                %td Prevent this armor item from being removed from the armor slot in any way.
                                %td
                                    %span.label.label-primary true/false
                                %td false
                :markdown

                    Enchanting, naming or giving armor lore works the same way as with items.

                        <boots enchantment="protection fall:1" lore="The Winged Boots of Hermes">iron boots</boots>

                    Items like leather armor are colored with the `color=""` attribute.
                    The color is represented in hexadecimal, see [dye colors](/reference/colors) for a list of hex colors for the different dyes.

                    `NOTE:` The hex color value is specified without the hash `#` symbol.

                        <helmet color="cd0000">leather helmet</helmet>

                    <br/>
                    ### [Enchantments](id:enchantments)

                    Items and armor can have custom enchantments by using the `enchantment=""` attribute. Enchantments are specified by their bukkit name and the enchantment level separated by a colon `:`. Multiple enchantments are separated by a semicolon `;`.

                    <br/>
                    Examples

                        <item enchantment="damage all:2">iron sword</item> <!-- A sharpness II iron sword -->
                        <item enchantment="knockback:4">280</item> <!-- A knockback IV stick -->

                        <boots enchantment="protection fall:2">gold boots</boots>

                    <br/>
                    ### [Attributes](id:attributes)

                    The `attributes=""` attribute will allow you to set the attribute('s) for a item or a piece of armor. Look at the [attributes reference](/reference/attributes) page for a list of the different attributes. The attribute definition is separated by colons `:`, and consists of the attributes name, operation and level. Multiple attributes are separated by a semicolon `;`.

                    **Attribute Operations:**

                    * `ADD` Add level to original level value.
                    * `BASE` Add level * base to original level value.
                    * `MULTIPLY` Multiply original level value by level.

                    <br/>
                    Examples

                        <chestplate attributes="generic.knockbackResistance:add:1">chainmail chestplate</chestplate>

                        <item attributes="generic.knockbackResistance:add:1">diamond spade</item>
                        <item attributes="generic.knockbackResistance:add:1;generic.movementSpeed:add:2">diamond spade</item>

                        <!-- Unit of maxHealth is in half-hearts -->
                        <leggings attributes="generic.maxHealth:add:-6">iron leggings</leggings>

                    `NOTE:` Negative attribute values are allowed; however sometimes they don't work as expected.
