.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Game Settings
.container
    %section
        .page-header
            %h1 Items & Armor
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    Item tags have many different attributes, and some may only apply to certain items. Such as the `color=""` attribute, it currently only applies to leather armour.

                    List of item names: [bukkit docs - Material](http://jd.bukkit.org/apidocs/org/bukkit/Material.html)

                        <item>Item name or id</item>

                        <!-- Item attributes -->
                        slot="0"
                        name="Name String"
                        enchantment="enchantment:lvl"
                        lore="Lore String"
                        color="RRGGBB"
                        damage="0"


                    The `slot=""` attribute specifies where the item will be placed in the inventory. [Inventory slot reference](/reference/inventory).
                    Enchantments use the bukkit [enchantment name](/reference/enchantments), the level of the enchantment is specified after a colon `:`. Multiple enchantments are separated by a semicolon `;`.

                        <item enchantment="sharpness:2">iron sword</item> <!-- A sharpness II iron sword -->
                        <item enchantment="knockback:4">280</item> <!-- A knockback IV stick -->


                    Items can be give custom names and lore with the `name=""` and `lore=""` attributes. Colours in item names or lore are specified with the grave symbol `` ` and then the minecraft [color code](/reference/formatting).

                        <item lore="Magic Dust">331</item> <!-- Redstone dust with a fancy lore. -->
                        <item name="`6Golden Sword">gold sword</item> <!-- Gold sword with a gold/yellow name. -->
                        <item lore="`4The One and Only">stick</item> <!-- A stick with the lore coloured red. -->

                    <br/>
                    #### Armour
                    Armour slots have predefined tags to make it easier to give them to a player. They accept most of the properties of normal items.

                        <helmet>iron helmet</helmet>
                        <chestplate>diamond chestplate</chestplate>
                        <leggings>gold leggings</leggings>
                        <boots>leather boots</boots>

                    Enchanting, naming or giving armour lore works the same way as with items.

                        <boots enchantment="protection fall:1" lore="The Winged Boots of Hermes">iron boots</boots>

                    Items like leather armour are coloured with the `color=""` attribute.
                    The colour is represented in hexadecimal. See [Minecraft wiki - Dye Data Values](http://www.minecraftwiki.net/wiki/Dyeing#Data_values) for a list of hex colours for the different dyes.

                    `NOTE:` The hex colour value is specified without the hash `#` symbol.

                        <helmet color="cd0000">leather helmet</helmet>

