.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Kill Reward
                :markdown
                    The kill reward module allows a player to get an item when they kill someone. The parameters are wrapped in a `<killreward>` block.
                    So far, the only reward available is an `<item>`.

                    `e.g.` This module can be used to give upgrades to players by giving them gold ingots. Then once they have collected enough ingots they can craft armor, etc.

                    You can optionally include a [filter](/modules/filters) that determines which players are eligible to receive the reward.

                    <br/>
                    Example

                        <!-- Give two emeralds for all kills -->
                        <killreward>
                            <item amount="2">emerald</item>
                        </killreward>

                        <!-- Give a cactus to players on the red team for their third kill -->
                        <killreward>
                            <filter>
                                <all>
                                    <team>red</team>
                                    <kill-streak count="3"/>
                                </all>
                            </filter>
                            <item>cactus</item>
                        </killreward>
