.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Filters & Regions
.container
    %section
        .page-header
            %h1 Kill Reward
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    The kill reward module allows a player to get an item when they kill someone. The parameters are wrapped in a `<killreward>` block.
                    So far, the only reward availible is an `<item>`. Any parameter available while giving [kits](/modules/kits) will be available here.

                    Examples:

                        <!-- Kill Reward from Rift XML -->
                        <killreward>
                            <item amount="2">emerald</item>
                        </killreward>
