.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Kill Reward
                :markdown
                    The kill reward module allows a player to get an item when they kill someone. The parameters are wrapped in a `<killreward>` block.
                    So far, the only reward available is an `<item>`.

                    `e.g.` This module can be used to give upgrades to players by giving them gold ingots. Then once they have collected enough ingots they can craft armor, etc.

                    <br/>
                    Example

                        <!-- Kill Reward from Rift XML -->
                        <killreward>
                            <item amount="2">emerald</item>
                        </killreward>
                    
                    The kill reward module can be filtered by adding a `<filter>` tag inside the kill reward module

                    `e.g.` You can use this to give certain team specific kill rewards that only that team can use.
                    
                    <br/>
                    Example
                        <!-- Kill Reward from Boombox XML -->
                        <killreward>
                            <filter>
                                <team>defenders</team>
                            </filter>
                            <item amount="8">arrow</item>
                        </killreward>
                        <killreward>
                            <filter>
                                <team>attackers</team>
                            </filter>
                            <item amount="32">snow ball</item>
                        </killreward>
