.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Filters & Regions
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Lanes
                :markdown
                    Lanes are used in RFW style maps with two parallel lanes for the teams. They prevent players from leaving their teams lane and entering the enemies.

                    ##### Lane Attributes
                .table-responsive
                    %table.table.table-striped.table-hover.table-condensed.table-bordered
                        %thead
                            %tr
                                %th Name
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code{:title => "Required"} team=""
                                %td The team the lane belongs to and in which they have to stay inside.
                                %td
                                    %a{:href => "/modules/teams"} Team Name

                :markdown
                    Example from [Parallax](https://maps.oc.tc/RFW/Standard/Parallax/map.xml)

                        <lanes>
                            <lane team="blue">
                                <region name="blue-lane-total"/>
                                <region name="blue-spawn-rooms"/>
                            </lane>
                            <lane team="red">
                                <region name="red-lane-total"/>
                                <region name="red-spawn-rooms"/>
                            </lane>
                        </lanes>
