.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Main Map Element
.container
    %section
        .page-header
            %h1 Main map element
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    Every map XML file must contain the base `<map>` module. It also contains modules that specify the map name, version, objective, authors and contributors. All of these modules are required in a complete XML file except the `<contributors>` module.

                    The `proto=""` attribute specifies what PGM version the XML file was created for. If this value is higher than the version of the loaded PGM plugin the map won't load, if it's lower the map will load like normal. Basically its just a failsafe to prevent old version of PGM from loading maps with newer features.

                    Current map proto is `1.3.0`.

                        <?xml version="1.0"?>
                        <map proto="1.3.0">
                        <name>Map Name</name> <!-- The maps name, shouldn't be too long -->
                        <version>1.0</version> <!-- The map version -->
                        <objective>Short description about the maps objective.</objective>

                        <!-- Major map authors. -->
                        <authors>
                            <author>aPerson</author> <!-- The creator of the map -->
                            <author contribution="Clarification of element usage, etc.">Plastix</contributor>
                        </authors>

                        <!-- People that contributed in some way to the map. -->
                        <contributors>
                            <contributor contribution="A contribution">aHelper</contributor>
                        </contributors>

                        <!-- Map modules, i.e. objectives, regions, spawns. -->

                        </map>
