.jumbotron.subhead
    .container
        %h1 Modules
        /%p.lead Map XML Modules
.container
    %section
        .page-header
            %h1 Main map element
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    Every map XML file must contain the base `<map>` module.
                    
                    It specifies what version of PGM plugin the XML file was created for; the map name, version, objective, authors and contributors.
                    
                        <?xml version="1.0"?>
                        <map proto="1.3.0"> <!-- Failsafe to prevent old versions of PGM from loading newer maps -->
                        <name>Map Name</name> <!-- The maps name, shouldn't be too long -->
                        <version>1.0</version> <!-- The map version -->
                        <objective>Short description about the maps objective.</objective>
                        <authors>
                            <author>aPerson</author> <!-- The creator of the map -->
                            <author contribution="Clarification of element usage, etc.">Plastix</contributor>
                        </authors>
                        <contributors>
                            <contributor contribution="A contribution">aHelper</contributor>
                        </contributors>
                        
                        <!-- Map modules, i.e. objectives, regions, spawns. -->
                        
                        </map>
