.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Main Map Element
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Main map element
                :markdown
                    Every map XML file must contain the base `<map>` module. It also contains modules that specify the map name, version, objective, authors and contributors. All of these modules are required in a complete XML file except the `<contributors>` module. The objective is the text that players see when they join the match, and so it's important for this to be very clear, concise, and informative.

                    The `proto=""` attribute specifies what PGM version the XML file was created for. If this value is higher than the version of PGM that is running, the map won't load. If it's lower, the map will load but the XML may be interpreted in an outdated way. Mapmakers should always use the latest supported XML version, and this may be required of new maps that are to be added to the Overcast Network rotations.

                    The maps version should follow the versioning schema `major.minor.patch`.

                        <?xml version="1.0"?>
                        <map proto="1.3.2">
                        <name>Map Name</name> <!-- The map's name, shouldn't be too long -->
                        <version>1.0.0</version> <!-- The map version -->
                        <objective>Short description about the maps objective.</objective>

                        <!-- Major map authors. -->
                        <authors>
                            <author>aPerson</author> <!-- The creator of the map -->
                            <author contribution="Clarification of element usage, etc.">Plastix</author>
                        </authors>

                        <!-- People that contributed in some way to the map. -->
                        <contributors>
                            <contributor contribution="A contribution">aHelper</contributor>
                        </contributors>

                        <!-- Map modules, i.e. objectives, regions, spawns. -->

                        </map>


                     Authors and contributors have a `contribution=""` attribute that can be used to specify exactly what they contributed to the map. There can be multiple authors and contributors to a map. It is recommended that you use the persons minecraft name to credit them.
