.container
    .jumbotron.subhead
        %h1= @page_title = "Modules"
        %p.lead Mob Disguises
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Mob Disguises"
                :markdown
                    PGM allows for a mob disguise to be applied to a team or class with the `<mob-disguises>` module. These mob disguises are applied when a player changes his/her team or class, and are updated when new players join the match.

                        <mob-disguises>
                            <!-- Apply a Iron Golem disguise to players on the red team -->
                            <disguise type="iron golem">
                                <filter>
                                    <team>red</team>
                                </filter>
                            </disguise>
                        </mob-disguises>

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Supported Mob Types
                                %th 
                                %th 
                        %tbody
                            %tr
                                %td 
                                    %code ARROW
                                %td 
                                    %code BAT
                                %td 
                                    %code BLAZE
                            %tr
                                %td 
                                    %code BOAT
                                %td 
                                    %code CAVE_SPIDER
                                %td 
                                    %code CHICKEN
                            %tr
                                %td 
                                    %code COW
                                %td 
                                    %code CREEPER
                                %td 
                                    %code DONKEY
                            %tr
                                %td 
                                    %code DROPPED_ITEM
                                %td 
                                    %code EGG
                                %td 
                                    %code ENDER_CRYSTAL
                            %tr
                                %td 
                                    %code ENDER_DRAGON
                                %td 
                                    %code ENDER_PEARL
                                %td 
                                    %code ENDER_SIGNAL
                            %tr
                                %td 
                                    %code ENDERMAN
                                %td 
                                    %code EXPERIENCE_ORB
                                %td 
                                    %code FALLING_BLOCK
                            %tr
                                %td 
                                    %code FIREBALL
                                %td 
                                    %code FIREWORK
                                %td 
                                    %code FISHING_HOOK
                            %tr
                                %td 
                                    %code GHAST
                                %td 
                                    %code GIANT
                                %td 
                                    %code HORSE
                            %tr
                                %td 
                                    %code IRON_GOLEM
                                %td 
                                    %code ITEM_FRAME
                                %td 
                                    %code LEASH_HITCH
                            %tr
                                %td 
                                    %code MAGMA_CUBE
                                %td 
                                    %code MINECART
                                %td 
                                    %code MINECART_CHEST
                            %tr
                                %td 
                                    %code MINECART_COMMAND
                                %td 
                                    %code MINECART_FURNACE
                                %td 
                                    %code MINECART_HOPPER
                            %tr
                                %td 
                                    %code MINECART_MOB_SPAWNER
                                %td 
                                    %code MINECART_TNT
                                %td 
                                    %code MULE
                            %tr
                                %td 
                                    %code MUSHROOM_COW
                                %td 
                                    %code OCELOT
                                %td 
                                    %code PAINTING
                            %tr
                                %td 
                                    %code PIG
                                %td 
                                    %code PIG_ZOMBIE
                                %td 
                                    %code PLAYER
                            %tr
                                %td 
                                    %code PRIMED_TNT
                                %td 
                                    %code SHEEP
                                %td 
                                    %code SILVERFISH
                            %tr
                                %td 
                                    %code SKELETON
                                %td 
                                    %code SKELETON_HORSE
                                %td 
                                    %code SLIME
                            %tr
                                %td 
                                    %code SMALL_FIREBALL
                                %td 
                                    %code SNOWBALL
                                %td 
                                    %code SNOWMAN
                            %tr
                                %td 
                                    %code SPIDER
                                %td 
                                    %code SPLASH_POTION
                                %td 
                                    %code SQUID
                            %tr
                                %td 
                                    %code THROWN_EXP_BOTTLE
                                %td 
                                    %code UNDEAD_HORSE
                                %td 
                                    %code VILLAGER
                            %tr
                                %td 
                                    %code WITCH
                                %td 
                                    %code WITHER
                                %td 
                                    %code WITHER_SKELETON
                            %tr
                                %td 
                                    %code WITHER_SKULL
                                %td 
                                    %code WOLF
                                %td 
                                    %code ZOMBIE
                            %tr
                                %td 
                                    %code ZOMBIE_VILLAGER
                                %td
                                %td
                    :markdown
                        Copied from: [LibsDisguises - DisguiseType](https://github.com/libraryaddict/LibsDisguises/blob/dea2dc856a295d97c17e066b830c2f284898359c/src/me/libraryaddict/disguise/disguisetypes/DisguiseType.java)

