.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Other Settings"
                :markdown
                    ### [Time Lock](id:timelock)
                    Lock the time to what the map was saved with. Change the maps time to midnight and then save it. The time will then remain locked to midnight the whole game through. This can also be accomplished with the `doDaylightCycle` [gamerule](/modules/gamerules).

                        <timelock>on</timelock>  <!-- Defaults to off -->

                    <br/>
                    ### Max Build Height
                    Set the max build height, this can also be accomplished with [filters](/modules/filters) and [regions](/modules/regions).

                        <maxbuildheight>38</maxbuildheight>

                    <br/>
                    ### Friendly Fire
                    Allows teammates to kill each other. Arrows will be absorbed if they hit a teammate.

                        <friendlyfire>on</friendlyfire> <!-- Defaults to off -->

                    Refunds arrows blocked by teammates from non-infinity bows.

                        <friendlyfirerefund>off</friendlyfirerefund> <!-- Defaults to on -->

                    <br/>
                    ### Difficulty
                    The difficulty level can be set to `peaceful`, `easy`, `normal`, or `hard`. The default is `hard`.

                        <difficulty>easy</difficulty> <!-- Defaults to hard -->

                    <br/>
                    ### Hunger
                    Specify if a player can starve to death, usually used with the difficulty setting.<br/>
                    This can also be accomplished with the `naturalRegeneration` [gamerule](/modules/gamerules).

                        <hunger>
                            <depletion>off</depletion>
                        </hunger>
