.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Other Settings
                :markdown
                    #### Time Lock
                    Lock the time to what the map was saved with. Change the maps time to midnight and then save it. The time will then remain locked to midnight the whole game through. This can also be accomplished with the [gamerules](/modules/gamerules) `doDaylightCycle` rule.

                        <timelock>on</timelock>  <!-- Defaults to off -->

                    <br/>
                    #### Max Build Height
                    Set the max build height, this can also be accomplished with the [playable region](/modules/playable_region).

                        <maxbuildheight>38</maxbuildheight>

                    <br/>
                    #### Friendly Fire
                    Change friendly fire, this will allow teammates to kill each-other. Arrows will be absorbed if they hit a teammate.

                        <friendlyfire>on</friendlyfire> <!-- Defaults to off -->

                    Change friendly fire arrow refund, this will refund arrows teammates have blocked from non infinity bows.

                        <friendlyfirerefund>off</friendlyfirerefund> <!-- Defaults to on -->

                    <br/>
                    #### Difficulty
                    The maps difficulty can be specified from `0` (peaceful) to `3` (hard). If not specified it defaults to the default worlds difficulty. This mainly influences a players food bar.

                        <difficulty>1</difficulty>

                    <br/>
                    #### Dimension
                    Change the maps dimension. Can be set to `NETHER`, `NORMAL` and `THE_END`, defaults to normal.

                    `NOTE:` This is currently broken.

                        <dimension>NETHER</dimension>

                    <br/>
                    #### Hunger
                    Specify if a player can starve to death, usually used with the difficulty setting.

                        <hunger>
                            <depletion>off</depletion>
                        </hunger>

                    <br/>
                    #### Multitrade
                    The multitrade module allows multiple people to trade with the same villager.

                        <multitrade/>

                    <br/>
                    #### Auto Respawn
                    The auto-respawn module allows the map creator to require that players automatically respawn after the designated time greater than 20 ticks (or, if no time is specified, the default of 1 second). If the respawn time is less than 1 second, PGM will wait a whole-second before respawning the player, allowing the death to fully complete and the velocity to be cleared.

                    To use the default time of 1 second (20 ticks):

                        <autorespawn/>

                    To specify a custom [time period](/reference/time_periods):

                        <autorespawn time="3s"/>

                    <br/>
                    #### Time Limit
                    The result attribute determines which team wins when the time runs out. It can be the name of a team, or one of the
                    special values "tie" for no winner, or "objectives" for the team that has the most objectives completed. The [time period](/reference/time_periods) format can be used to specify the time in minutes, etc.

                        <time result="objectives">5m</time>
                        
                    <br/>
                    ###Broadcasts
                    The broadcast module allows you to broadcast a message to all of the players at any given point in the match.
                    Inside the broadcast tag you may specify either an `alert` or a `tip` tag. Inside the alert or tip tag you specify the attribute `after=""` inside here you put a [time period](/reference/time_periods).
                    Broadcasts can also be colored using the formatting [codes](/reference/formatting)
                    
                        <broadcasts>
                            <alert after="20s">This is an alert after 20 seconds</alert>
                            <tip after="5m">This is a tip after 5 minutes</tip>
                        </broadcasts>
