.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Players"
                :markdown
                    The players module is the basis for all team-less gamemodes, such as FFA, UHC, or hunger games style matches.
                    This module is not limited to matches focused on combat,
                    it can also be used in combat-less game modes where players have to collect specific items, etc.
                    Win conditions are set by using the score and time limit modules.

                    `NOTE:` This gamemode is not compatible with the teams module!

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Element
                                %th Description
                                %th
                        %tbody
                            %tr
                                %td
                                    %span.highlight
                                        %code= html_escape('<players/>')
                                %td The players node, containing player settings.
                                %td

                %h5 Players Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{:style => "min-width: 130px;"}  Attribute
                                %th Description
                                %th Value
                                %th Default
                        %tbody
                            %tr
                                %td
                                    %code min
                                %td
                                    Minimum amount of players required.
                                %td
                                    %span.label.label-primary Number
                                %td
                            %tr
                                %td
                                    %code max
                                %td
                                    Player limit -- normal players cannot join the match once it reaches this size.
                                    %br
                                    %i Premium players may join over this limit until <code>max-overfill</code> is reached.
                                %td
                                    %span.label.label-primary Number
                                %td
                            %tr
                                %td
                                    %code max-overfill
                                %td
                                    Player overfill -- premium players cannot join the match once it reaches this size.
                                    %br
                                    %i Must be greater than the defined <code>max</code>.
                                %td
                                    %span.label.label-primary Number
                                %td
                            %tr
                                %td
                                    %code show-name-tags
                                %td
                                    Specify who can see the name tags of players.
                                    %br
                                    Accepts:
                                    <code>true</code>, <code>false</code>, <code>allies</code> or <code>enemies</code>
                                %td
                                    %span.label.label-primary Enum
                                %td true
                            %tr
                                %td
                                    %code colors
                                %td
                                    Auto assign a unique color to each player, works for up to 10 players and then colors repeat.
                                %td
                                    %span.label.label-primary true/false
                                %td false

                :markdown
                    Example

                        <players max="16" max-overfill="20"/>
                        <time>8m</time>

                        <score>
                           <kills>1</kills>
                           <deaths>1</deaths>
                        </score>
