.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Filters & Regions
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Playable Region
                :markdown
                    Playable regions prevent any playing player doing **anything** outside the region, this includes movement. It also blocks damage from TNT, mobs, etc. If control over what exactly gets filtered is required a regular [region](/modules/regions) with the correct [filters](/modules/filters) should be used. Multiple regions inside the `<playable>` module they are combined in a union, if you want to combine them differently put them into a [region modifier](/modules/regions#regionModifiers).

                    It is recommended that the regions inside a playable region have no floor, this is to prevent players from getting stuck and hanging in the void.

                    Examples

                        <playable>
                            <region name="main-area"/>
                            <!-- cylinder from Z negative infinity to Z 15 -->
                            <cylinder base="-520.5,15,210.5" height="-oo" radius="10"/>
                        </playable>

                        <playable>
                            <cuboid min="-32,-oo,-50" max="32,20,50"/>
                        </playable>
