.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Potions
                :markdown
                    To give players potion effects use the `<potion>` module in a kit and apply it to players when they spawn or enter a region.

                        <potion duration="10" amplifier="4">damage resistance</potion>
                        <potion duration="900" amplifier="1" ambient="true">jump</potion>

                    Potions effects will be applied directly to the player. Duration specifies how long the potion will last in seconds and amplifier what level / how strong the potion is. The potion type is specified using the [potion name](/reference/potion_effects).

                    ##### Potion Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Attribute
                                %th Description
                                %th Value
                        %tbody
                            %tr.danger.text-danger{:title => "Required"}
                                %td
                                    %code duration=""
                                %td
                                    The time the potion effect last in seconds.
                                    %i Infinite duration can be specified by using <code>oo</code> as the duration.
                                %td
                                    %span.label.label-primary Number
                            %tr
                                %td
                                    %code amplifier="1"
                                %td The strength of the potion effect.
                                %td
                                    %span.label.label-primary Number
                            %tr
                                %td
                                    %code ambient="false"
                                %td Specify if the potion's particle effects are ambient.
                                %td
                                    %span.label.label-primary true/false

                :markdown
                    <br/>
                    To give a potion as an item you have to use:

                        <item slot="3" damage="8229">potion</item>

                    The damage specifies the potion type. [Minecraft wiki - Potions](http://www.minecraftwiki.net/wiki/Potions).

                    <br/>
                    ### Custom Potion Item Effects
                    Custom effects can be added to a potion item with the `potions=""` attribute. Multiple effects are separated with a semicolon `;`. The format for custom potion item effects is: `potion_name:duration:potency:ambient`. The potion items damage value will define the potion color and if it's a splash or normal potion.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Specifier
                                %th Description
                                %th Value
                        %tbody
                            %tr
                                %td
                                    %code potion_name
                                %td Name of the potion effect.
                                %td
                                    %a{:href => "/reference/potion_effects"} Potion names
                            %tr
                                %td
                                    %code duration
                                %td Length of the potion effect in minecraft ticks.
                                %td
                                    %span.label.label-primary Number
                            %tr
                                %td
                                    %code potency
                                %td What level the potion effect is, 0 is equal to a lvl 1 potion.
                                %td
                                    %span.label.label-primary 0-2
                            %tr
                                %td
                                    %code ambient
                                %td Specify if the potion effect is ambient. (Decreased and translucent particle effects.)
                                %td
                                    %span.label.label-primary true/false
                :markdown

                        <item slot="1" damage="8227" potions="fire resistance:900:0:false">potion</item>
