.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Projectiles
                :markdown
                    Bows can be modified to shoot a different projectile at a custom speed. The PGM plugin will calculate the damage the projectile does using the same formula as minecraft does for arrows. This means that a flying fish with a velocity of 40 will almost certainly kill you.
                    
                        <modifybowprojectile>
                            <projectile>EnderPearl</projectile>
                            <velocityMod>2.5</velocityMod>
                        </modifybowprojectile>


                    `NOTE:` You can currently only modify all projectiles, this means no normal and custom bow at the same time. 

                    All the following projectiles are guaranteed to work. See [mrapple/Bukkit Entity Spawning.md](https://gist.github.com/4617111) for a list of tested entities.

                        Arrow
                        Egg
                        EnderPearl
                        Fireball
                        LargeFireball
                        SmallFireball
                        Snowball
                        ThrownExpBottle
                        WitherSkull
