.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Blocks
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Renewables
                :markdown
                    Use this module to set what blocks will renew and in what region and rate they renew at. See [items](/modules/items) for information for block names. `grow=""` is used to set if it will grow back or not. `rate=""` is used to set the rate at which the blocks renew. You must set the region(s) you wish to renew inside `<renewable>`. 
                    </br></br>
                    With `<block>` you can set what blocks will be renewing. `<replace>` is used to set what blocks will be replaced when they are renewed. With `<shuffle>`, it shuffles between those set blocks.

                        <renewables>
                            <renewable grow="true" rate="2">
                                <region>
                                    <cylinder base="0,117,0" radius="6" height="13"/>
                                </region>
                                <!-- These are the blocks that will renew. -->
                                <block>bedrock</block>
                                <block>iron ore</block>
                                <block>glowstone</block>
                                <block>stone</block>
                                <!-- These blocks will be replaced when the previous blocks renew -->
                                <replace>air</replace>
                                <replace>lava</replace>
                                <replace>stationary lava</replace>
                                <!-- These blocks will switch with eacher other when they renew. -->
                                <shuffle>stone</shuffle>
                                <shuffle>iron ore</shuffle>
                            </renewable>
                        </renewables>
