.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Game Settings
.container
    %section
        .page-header
            %h1 Remove & Repair
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    Defines tools that will be automatically repaired when dropped and picked up again. This will also merge items that are picked up, i.e., picking up an iron sword would result in it merging with your sword and repairing it. Repaired items will keep their enchantment, unlike vanilla minecraft where they will not.

                        <toolrepair>
                            <tool>iron sword</tool>
                            <tool>bow</tool>
                        </toolrepair>

                    Defines items that will be deleted when dropped on the map. Also works when items are destroyed, such as seeds from tall grass, etc.

                        <itemremove>
                            <item>arrow</item>
                            <item>cooked fish</item>
                            <item>diamond helmet</item>
                            <item>iron chestplate</item>
                        </itemremove>

