.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Game Settings
.container
    %section
        .page-header
            %h1 Custom Rules
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    You can use the `<rules>` element to add custom rules to your map. [Regions](/modules/regions) should be used to enforce access / block rules.

                        <rules>
                            <rule>A custom map rule</rule>
                        </rules>
