.container
    .jumbotron.subhead
        %h1
            = @page_title = "Modules"
            %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Teams"
                :markdown
                    Teams are a basic and important component of almost all gamemodes, this module allows you to setup their attributes.

                    The soft player limit for each team is set with the `max=""` attribute and the hard limit with `max-overfill`. If max overfill is not explicitly defined the default will be set to 25% over the maximum team size. Players will not be able to join teams once the max overfill team size is reached.

                    A teams `plural` attribute specifies if the team name is plural e.g. "Attackers"; PGM will use this to pick appropriate win messages, etc. The `show-name-tags` attribute specifies who can see player name tags, this only applies to players, observers will always see all name tags.

                    It is common for maps to only have 2 teams, although more are possible it usually just causes confusion.

                    ##### Team Attributes
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th{:style => "min-width: 130px;"}  Attribute
                                %th Description
                                %th{:style => "min-width: 120px;"}  Value
                        %tbody
                            %tr
                                %td
                                    %code id
                                %td Unique identifier used to reference teams from other places in the XML.
                                %td
                                    %span.label.label-primary String
                            %tr
                                %td
                                    %code color
                                %td The teams display color.
                                %td
                                    %a{:href => "/reference/formatting#chatColors"} Chat Color Name
                            %tr
                                %td
                                    %code plural
                                %td
                                    The team's name is plural, used in status messages.
                                    %br
                                    e.g.,  <code>Defenders win!</code> instead of <code>Defenders wins!</code>
                                %td
                                    %span.label.label-primary true/false
                            %tr
                                %td
                                    %code show-name-tags
                                %td
                                    Specify who can see the name tags of players in this team.
                                    %br
                                    Accepts:
                                    <code>true</code>, <code>false</code>, <code>allies</code> or <code>enemies</code>
                                %td
                                    %span.label.label-primary Enum
                            %tr
                                %td
                                    %code max
                                %td
                                    Maximum team size. (soft limit)
                                    %br
                                    %i Players with certain privileges may join over this limit till <code>max-overfill</code> is reached.
                                %td
                                    %span.label.label-primary Number
                            %tr
                                %td
                                    %code max-overfill
                                %td Maximum team size hard limit. Must be greater than the defined <code>max</code>.
                                %td
                                    %span.label.label-primary Number

                :markdown

                        <teams>
                           <team id="red-team" color="dark red" max="50" max-overfill="70">Red Team</team>
                           <team id="blue-team" color="blue" max="50" max-overfill="70">Blue Team</team>
                        </teams>

                    The total maximum number of players in the example given above is 100, however, the max overfill will allow up to 140 players. Servers currently have a player limit of 150, so 100 players in total would allow 50 observers, or 10 observers if teams are at max overfill.
