.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 TNT
                :markdown
                    You can modify TNT explosion & placing behavior with this module.
                    
                        <tnt>
                            <!-- TNT instantly ignites when placed -->
                            <instantignite>on</instantignite>
                            
                            <!-- TNT doesn't destroy the terrain -->
                            <blockdamage>off</blockdamage>
                            
                            <!-- Modify the amount of items dropped by the explosion as a percentage -->
                            <yield>0</yield>
                        </tnt>


