.jumbotron.subhead
    .container
        %h1 Modules
        %p.lead Game Settings
.container
    %section
        .page-header
            %h1 TNT
        .row
            = partial('modules_sidebar')
            .span9
                :markdown
                    You can modify TNT explosion & placing behavior with this module.
                    <tnt>
                        <!-- TNT instantly ignites when placed -->
                        <instantignite>on</instantignite>
                        
                        <!-- TNT doesn't destroy the terrain -->
                        <blockdamage>off</blockdamage>
                        
                        <!-- Modify the amount of items dropped by the explosion as a percentage -->
                        <yield>0</yield>
                    </tnt>


