<div class="sidebar hidden-xs no-deco" style="border-right-style: solid; border-right-width: 1px; border-right-color: #BDBDBD">
    {% for item in sidebar.content %}
    {% if item.first %}
    <span class="{% if page.url contains item.path %}second-active{% endif %}">
        <a href="{{item.path}}">
            {% if item.icon %}
            <i class="fa fa-fw {{item.icon}}"></i>
            {% endif %}{{ item.name }}
        </a>
        <br>
    </span>
    {% else %}
    <p>
        <h4 style="padding-top: 20px; border-top-style: solid; border-top-width: 1px; border-top-color: #E7E7E7">{{item}}</h4>
    </p>
    {% endif %}{% endfor %}
</div>
