{% unless page.nav_content == nil %}<div class='btn-group subnav pull-right'>
  <button class='btn btn-primary btn-block dropdown-toggle' data-toggle='dropdown' type='button'>
    <i class='fa fa-fw fa-th-list'></i>
    <i class='fa fa-fw fa-caret-down'></i>
  </button>
  <ul class='dropdown-menu subnav-dropdown' role='menu'>
    {% for item in page.nav_content %}{% if item.first %}<li class="{% if page.url contains item.path %}active{% endif %}"><a href="{{item.path}}">{{ item.name }}</a></li>{% else %}{% if forloop.first != true %}<li class="divider"></li>{% endif %}<li class="dropdown-header">{{item}}</li>{% endif %}{% endfor %}
  </ul>
</div>
{% endunless %}
