.container
    .jumbotron.jumbotron-mini
        %h1 Web API Documentation
        %p.lead Reference
    %section
        .alert.alert-danger
            %strong Heads up!
            The Web API is currently in
            %i BETA
            and this information is subject to change without notice.
        .alert.alert-info
            %strong No documentation yet.
            As the Web API takes more shape these pages will fill up.
