.container
    .jumbotron.subhead
        %h1 Packaging your map
    %section
        .row
            = partial('packaging_sidebar')
            .col-sm-9
                .page-header
                    %h1 Compiling & Releasing
                %p
                    Once your world is cleaned up and pruned, it is ready to compile. To start, add in your
                    %code map.xml
                    file. Then, add in your
                    %code map.png
                    file. Below is an image of what your folder should look like:
                %p
                    %img{:src => "/img/folder_layout.png"}
                %h4
                    Information regarding
                    %code map.xml
                %p
                    The
                    %code map.xml
                    file is the XML you coded for your map. This file is essential when it comes to having your map loaded and tested. While you may submit maps without this file, it means someone else will have to code all the gameplay for your map. This makes your map less likely to be tested or used at all.
                %p
                    Also, take note of the following coding guidelines when creating your
                    %code map.xml
                    file:
                %ul
                    %li
                        Verify there are
                        %b no tabs in the XML
                        \-- 4 spaces only
                    %li Verify the main map element and its main elements are not indented
                    %li
                        Follow
                        %a{:href => "http://semver.org", :target => "_blank"} Semantic Versioning
                        when deciding the map version
                    %li Bump the map version if gameplay has changed
                %h4
                    Information regarding
                    %code map.png
                %p
                    The
                    %code map.png
                    file displays the image of your map on the website. The standard resolution for these pictures is
                    = succeed "." do
                        %code 290x246
                    An example
                    %code map.png
                    file (from the map Airship Battle by dewtroid) can be found
                    = succeed "." do
                        %a{:href => "https://maps.oc.tc/DTC/Standard/Airship%20Battle/map.png", :target => "_blank"} here
                %p
                    %span.label.label-primary Note:
                    While your map can be tested without a
                    %code map.png
                    file, it will not appear on the
                    %a{:href => "https://oc.tc/maps"} oc.tc/maps
                    public directory.
                %h4 Compressing your folder to a ZIP file
                %p
                    Before you upload your map, you must compress the folder to a
                    %code .zip
                    format. Do
                    %b NOT
                    compress to a
                    %code .rar
                    format.
                    %br
                    To compress a folder:
                    %ul
                        %li
                            %code Windows
                            Right Click > Send To > Compressed Zip
                        %li
                            %code Mac
                            Right Click > Compress
                %h4 Uploading your world
                %p
                    To upload your world, we recommend using
                    %a{href: "https://www.mediafire.com/"} MediaFire
                    or
                    = succeed "." do
                        %a{href: "https://www.dropbox.com/"} Dropbox
