!!! 5
%html
    %head
        %title Project Ares Documentation
        %link{:href => "css/bootstrap.css", :rel => "stylesheet"}
        %link{:href => "css/style.css", :rel => "stylesheet"}
    %body
        .navbar.navbar-static-top
            .navbar-inner
                .container
                    %a.brand{:href => "/"}
                        %img{:src => "https://oc.tc/assets/logo.png"}
                        Project Ares Documentation
                    .nav-collapse.collapse
                        %ul.nav
                            %li{:class => (current_page.include?("index") ? "active" : "")}
                                %a{:href => "/"} Home
                            %li{:class => (current_page.include?("modules") ? "active" : "")}
                                %a{:href => "/modules"} Modules
                            %li{:class => (current_page.include?("examples") ? "active" : "")}
                                %a{:href => "/examples"} Examples
        = yield
