!!! 5
%html
    %head
        %title Project Ares Documentation
        %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
        - @rand = SecureRandom.hex(13)
        %link{:href => "/css/bootstrap.css?" + @rand, :rel => "stylesheet"}
        %link{:href => "/css/style.css?" + @rand, :rel => "stylesheet"}
        %link{:href => "/css/custom-highlight.css?" + @rand, :rel => "stylesheet"}
		%link{:href => "/img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
		%link{:href => "/img/favicon.ico", :rel => "apple-touch-icon", :type => "image/x-icon"}
        %script{:src => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"}
        %script hljs.initHighlightingOnLoad();
    %body
        .navbar.navbar-static-top
            .navbar-inner
                .container
                    %a.brand{:href => "/"}
                        %img{:src => "https://oc.tc/assets/logo.png"}
                        Project Ares Documentation
                    .nav-collapse.collapse
                        %ul.nav
                            %li{:class => (current_page.include?("index") ? "active" : "")}
                                %a{:href => "/"}
                                    %i.icon-home
                                    Home
                            %li{:class => (current_page.include?("modules") ? "active" : "")}
                                %a{:href => "/modules/main"}
                                    %i.icon-th-large
                                    Modules
                            %li{:class => (current_page.include?("reference") ? "active" : "")}
                                %a{:href => "/reference/inventory"}
                                    %i.icon-book
                                    Reference
                            %li{:class => (current_page.include?("examples") ? "active" : "")}
                                %a{:href => "/examples"}
                                    %i.icon-file
                                    Examples
        = yield
        .container
            %hr
            %footer
                %ul.nav.nav-pills
                    %li.pull-left
                        %a &copy; 2013 Project Ares
                    %li.pull-right
                        %a{:href => "https://maps.oc.tc"} Maps
                    %li.pull-right
                        %a{:href => "https://oc.tc/revisions?repo=docs"}
                            Revisions
