!!! 5
%html
    %head
        - title = "XML Documentation"
        - if @page_title
            - title += " - " + @page_title
            - if @page_sub_title
                - title += ": " + @page_sub_title
        - elsif @page_sub_title
            - title += " - " + @page_sub_title
        %title= title
        %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
        - @rand = SecureRandom.hex(13)
        %link{:href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}
        %link{:href => "/css/style.css?" + @rand, :rel => "stylesheet"}
        %link{:href => "/css/custom-highlight.css?" + @rand, :rel => "stylesheet"}
        %link{:href => "//oc.tc/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
        %link{:href => "//oc.tc/favicon.ico", :rel => "apple-touch-icon", :type => "image/x-icon"}
        %link{:href => "//fonts.googleapis.com/css?family=Lato:700,400,300", :rel => "stylesheet"}
        %link{:href => "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
        %script{:src => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"}
        %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
        %script{:src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"}
        %script hljs.initHighlightingOnLoad();
        %script $(function () { $("[data-toggle='tooltip']").tooltip(); });
        %script $(document).ready(function() { $('span.highlight > code').each(function(i, block) {hljs.highlightBlock(block);}); });
    %body
        %header.navbar.navbar-default.navbar-static-top{:role => "navigation"}
            .container
                .navbar-header
                    %a.navbar-brand{:href => "/"}
                        %img{:src => "https://oc.tc/assets/logo.png"}
                        XML Documentation
                    %button.navbar-toggle{:type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-main-collapse"}
                        %span.sr-only Toggle navigation
                        %span.icon-bar
                        %span.icon-bar
                        %span.icon-bar
                %nav.collapse.navbar-collapse.navbar-main-collapse
                    %ul.nav.navbar-nav.navbar-right
                        %li{:class => (current_page.include?("src/index.haml") ? "active" : "")}
                            %a{:href => "/"}
                                %i.fa.fa-home
                                Home
                        %li{:class => (current_page.include?("src/modules") ? "active" : "")}
                            %a{:href => "/modules/main"}
                                %i.fa.fa-th-large
                                Modules
                        %li{:class => (current_page.include?("src/reference") ? "active" : "")}
                            %a{:href => "/reference/inventory"}
                                %i.fa.fa-book
                                Reference
                        %li{:class => (current_page.include?("src/guides") ? "active" : "")}
                            %a{:href => "/guides/packaging/cleaning_files"}
                                %i.fa.fa-clipboard
                                Guides
                        %li{:class => (current_page.include?("src/examples") ? "active" : "")}
                            %a{:href => "/examples"}
                                %i.fa.fa-file-text
                                Examples

        - @page_title = nil
        - @page_sub_title = nil
        - @page_nav_content = nil
        = yield
        .container
            %hr
            %footer.docs-footer
                %ul.nav.nav-pills
                    %li.pull-left
                        %a{:href => "https://oc.tc"} &copy; 2016 Lifeboat Network
                    %li.pull-right
                        %a{:href => "https://maps.oc.tc"} Maps
                    %li.pull-right
                        %a{:href => "https://oc.tc/revisions/docs"}
                            Revisions
                    %li.pull-right
                        - commit_long = `git rev-parse HEAD`
                        - commit_short = `git rev-parse --short HEAD`
                        %a{:href => "https://github.com/OvercastNetwork/docs.oc.tc/commit/" + commit_long}
                            Current Revision: #{commit_short}
