.container
    .jumbotron.jumbotron-mini
        %h1 Modules
        %p.lead Game Modes
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Destroy the Monument
                :markdown
                    Players have to locate and destroy certain objects from the enemy team, such as an obsidian pillar, etc. Teams win after a specified percentage of the enemy teams destroyables are destroyed. Teams can have multiple destroyables and they can be made out of multiple materials. Multiple materials should be separated with a semicolon `;`.

                        <destroyables name="Monument" materials="obsidian" completion="100%">
                            <destroyable owner="blue">
                               <cuboid min="46,16,26" max="45,14,25"/>
                            </destroyable>
                            <destroyable owner="red">
                               <cuboid min="-44,16,-24" max="-45,14,-25"/>
                            </destroyable>
                        </destroyables>

                    Completion specifies how much of the material(s) inside of the monument region must be removed for it to count as destroyed. For example, if the monument is obsidian and completion is set to 100% then all the obsidian must be removed in order for the monument to count as destroyed.
