.container
    .jumbotron.jumbotron-mini
        %h1 Modules
        %p.lead Game Settings
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Mob Spawning
                :markdown
                    By default PGM disables all mob spawning. Enable specific mob spawning with the `<mobs>` element, uses special [filters](/modules/filters) to deny / allow specific mobs and spawn methods.

                    Valid mob names can be found on the [bukkit docs - Creature Type](http://jd.bukkit.org/doxygen/da/d7e/enumorg_1_1bukkit_1_1entity_1_1CreatureType.html).  
                    Spawn reasons can be found here: [bukkit docs - Spawn Reason](http://jd.bukkit.org/rb/doxygen/d6/d38/enumorg_1_1bukkit_1_1event_1_1entity_1_1CreatureSpawnEvent_1_1SpawnReason.html).

                        <mobs></mobs>
                        
                        <!-- Filter elements -->
                        
                        <spawn>spawn reason</spawn>
                        <mob>mob name</mob>
                        <entity>entity name</entity>

                    <br/>
                    Examples

                        <!-- Only allow mobs to spawn from monster spawners. -->
                        <mobs>
                            <filter>
                                <spawn>spawner</spawn>
                            </filter>
                        </mobs>


                        <!-- Example from Cake Wars (https://maps.oc.tc/Cake%20Wars/map.xml). -->
                        <mobs>
                            <filter parents="deny-all">
                                <allow>
                                    <!-- Only allow cave spiders to be spawned with spawn eggs -->
                                    <mob>cave spider</mob>
                                    <spawn>spawner egg</spawn>
                                </allow>
                            </filter>
                        </mobs>
