.container
    .jumbotron.jumbotron-mini
        %h1 Modules
        %p.lead Filters & Regions
    %section
        .row
            = partial('modules_sidebar')
            .col-sm-9
                .page-header
                    %h1 Score Boxes
                :markdown
                    A score box will give the specified team X points when a player from that team enters the [region](/modules/regions). [Portals](/modules/portals) should be setup to remove the player from the immediate vicinity of the score box to prevent multiple scores.

                    Specify `cooldown="X"` to limit player scoring, the player can only score again after X amount of seconds have passed. Cooldown defaults to one second.

                        <score>
                            <box value="2" team="red" filter="only-red" cooldown="1">
                                <cylinder base="21,8,63" radius="1" height="2"/>
                            </box>
                        </score>

                    This score box uses a custom [filter](/modules/filters) to only allow red team players access.

