.container
    .jumbotron.jumbotron-mini
        %h1 PGM API Documentation
        %p.lead Proper API Usage
    %section
        .page-header
            %h1 Welcome
        %p Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.