.container
    .jumbotron.subhead
        %h1= @page_title = "Reference"
    %section
        .row
            = partial('reference_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Item Attributes"
                :markdown
                    Players or mobs carrying or wearing items with these attributes will have the effects specified applied to themselves.

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Name
                                %th Description
                                %th Default Base
                                %th Min
                                %th{:style => "min-width: 60px;"} Max
                        %tbody
                            %tr
                                %td
                                    %code generic.maxHealth
                                %td The maximum health of this mob, determines the highest health they may be healed to.
                                %td 20.0
                                %td 0.0
                                %td 1.7x10<sup>308</sup>
                            / %tr
                            /     %td
                            /         %code generic.followRange
                            /     %td The range in blocks within which a mob with this attribute will target players or other mobs to track. Exiting this range will cause the mob to cease following the player/mob. Actual value used by most mobs is 16; for Zombies it is 40.
                            /     %td 32.0
                            /     %td 0.0
                            /     %td 2048.0
                            %tr
                                %td
                                    %code generic.knockbackResistance
                                %td
                                    Resistance to knockback from attacks, explosions, and projectiles.
                                    %br
                                    %i 1.0 is full knockback resistance.
                                %td 0.0
                                %td 0.0
                                %td 1.0
                            %tr
                                %td
                                    %code generic.movementSpeed
                                %td Speed of movement in some unknown metric. The mob's maximum speed in blocks/second is a bit over 43 times this value, but can be affected by various conditions.
                                %td 0.7
                                %td 0.0
                                %td 1.7x10<sup>308</sup>
                            %tr
                                %td
                                    %code generic.attackDamage
                                %td Damage dealt by attacks, in half-hearts.
                                %td 2.0
                                %td 0.0
                                %td 1.7x10<sup>308</sup>
                            %tr
                                %td
                                    %code generic.armor
                                %td Armor defense points.
                                %td 0.0
                                %td 0.0
                                %td 30.0
                            %tr
                                %td
                                    %code generic.armorToughness
                                %td Armor Toughness.
                                %td 0.0
                                %td 0.0
                                %td 20.0
                            %tr
                                %th{:colspan => "5"} Player Attributes
                            %tr
                                %td
                                    %code generic.attackSpeed
                                %td Determines speed at which attack strength recharges. Value is the number of full-strength attacks per second.
                                %td 4.0
                                %td 0.0
                                %td 1024.0
                            %tr
                                %td
                                    %code generic.luck
                                %td Affects the results of loot tables using the quality or bonus_rolls tag (e.g. when opening chests or chest minecarts, fishing, and killing mobs).
                                %td 0.0
                                %td -1024.0
                                %td 1024.0

                :markdown
                    Incomplete list, copied from: [Minecraft Wiki Attributes](http://minecraft.gamepedia.com/Attribute)
