.container
    .jumbotron.subhead
        %h1= @page_title = "Reference"
    %section
        .row
            = partial('reference_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Dye Colors"
                :markdown
                    Dye color names are used to define a wools color on [CTW](/modules/gamemode_ctw) maps and the dyes hex color can be used to color armor. Teams are created with the chat color names defined in [formatting](/reference/formatting#chatColors).

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Color Name
                                %th Hex Color
                                %th Hex Firework Color
                        %tbody
                            %tr
                                %td WHITE
                                %td
                                    %code FFFFFF
                                %td
                                    %code F0F0F0
                            %tr
                                %td ORANGE
                                %td
                                    %code D87F33
                                %td
                                    %code EB8844
                            %tr
                                %td MAGENTA
                                %td
                                    %code B24CD8
                                %td
                                    %code C354CD
                            %tr
                                %td LIGHT_BLUE
                                %td
                                    %code 6699D8
                                %td
                                    %code 6689D3
                            %tr
                                %td YELLOW
                                %td
                                    %code E5E533
                                %td
                                    %code DECF2A
                            %tr
                                %td LIME
                                %td
                                    %code 7FCC19
                                %td
                                    %code 41CD34
                            %tr
                                %td PINK
                                %td
                                    %code F27FA5
                                %td
                                    %code D88198
                            %tr
                                %td GRAY
                                %td
                                    %code 4C4C4C
                                %td
                                    %code 434343
                            %tr
                                %td SILVER
                                %td
                                    %code 999999
                                %td
                                    %code ABABAB
                            %tr
                                %td CYAN
                                %td
                                    %code 4C7F99
                                %td
                                    %code 287697
                            %tr
                                %td PURPLE
                                %td
                                    %code 7F3FB2
                                %td
                                    %code 7B2FBE
                            %tr
                                %td BLUE
                                %td
                                    %code 334CB2
                                %td
                                    %code 253192
                            %tr
                                %td BROWN
                                %td
                                    %code 664C33
                                %td
                                    %code 51301A
                            %tr
                                %td GREEN
                                %td
                                    %code 667F33
                                %td
                                    %code 3B511A
                            %tr
                                %td RED
                                %td
                                    %code 993333
                                %td
                                    %code B3312C
                            %tr
                                %td BLACK
                                %td
                                    %code 191919
                                %td
                                    %code 1E1B1B

                :markdown
                    Copied from: [bukkit docs - Dye Color](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/DyeColor.html)
