.container
    .jumbotron.subhead
        %h1= @page_title = "Reference"
    %section
        .row
            = partial('reference_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Item Enchantments"
                :markdown

                    Enchantments can be referenced by their Bukkit or [Minecraft](http://minecraft.gamepedia.com/Data_values#Enchantment_IDs) name.
                    Bukkit enchantment names are not case sensitive and a space can be used instead of an underscore.

                    `NOTE:`  PGM allows enchantments to be applied to any item regardless if the enchant was intended for it or not.

                %br
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th ID
                                %th Bukkit Name
                                %th Minecraft Name
                                %th Description
                        %tbody
                            %tr
                                %th{:colspan => "4"} Armor Enchantments
                            %tr
                                %td
                                    0
                                %td
                                    %code PROTECTION_ENVIRONMENTAL
                                %td
                                    %code protection
                                %td Provides protection against environmental damage.
                            %tr
                                %td
                                    1
                                %td
                                    %code PROTECTION_FIRE
                                %td
                                    %code fire_protection
                                %td Provides protection against fire damage.
                            %tr
                                %td
                                    2
                                %td
                                    %code PROTECTION_FALL
                                %td
                                    %code feather_falling
                                %td Provides protection against fall damage.
                            %tr
                                %td
                                    3
                                %td
                                    %code PROTECTION_EXPLOSIONS
                                %td
                                    %code blast_protection
                                %td Provides protection against explosive damage.
                            %tr
                                %td
                                    4
                                %td
                                    %code PROTECTION_PROJECTILE
                                %td
                                    %code projectile_protection
                                %td Provides protection against projectile damage.
                            %tr
                                %td
                                    5
                                %td
                                    %code OXYGEN
                                %td
                                    %code respiration
                                %td Decreases the rate of air loss whilst underwater.
                            %tr
                                %td
                                    6
                                %td
                                    %code WATER_WORKER
                                %td
                                    %code aqua_affinity
                                %td Increases the speed at which a player may mine underwater.
                            %tr
                                %td
                                    7
                                %td
                                    %code THORNS
                                %td
                                    %code thorns
                                %td Damages the attacker.
                            %tr
                                %td
                                    8
                                %td
                                    %code DEPTH_STRIDER
                                %td
                                    %code depth_strider
                                %td Increases the speed at which a player may move underwater.
                            %tr
                                %td
                                    9
                                %td
                                    %code FROST_WALKER
                                %td
                                    %code frost_walker
                                %td Create frost blocks when walking over water.
                            %tr
                                %th{:colspan => "4"} Tool Enchantments
                            %tr
                                %th ID
                                %th Bukkit Name
                                %th Minecraft Name
                                %th Description
                            %tr
                                %td
                                    16
                                %td
                                    %code DAMAGE_ALL
                                %td
                                    %code sharpness
                                %td Increases damage against all targets.
                            %tr
                                %td
                                    17
                                %td
                                    %code DAMAGE_UNDEAD
                                %td
                                    %code smite
                                %td Increases damage against undead targets.
                            %tr
                                %td
                                    18
                                %td
                                    %code DAMAGE_ARTHROPODS
                                %td
                                    %code bane_of_arthropods
                                %td Increases damage against arthropod targets.
                            %tr
                                %td
                                    19
                                %td
                                    %code KNOCKBACK
                                %td
                                    %code knockback
                                %td All damage to other targets will knock them back when hit.
                            %tr
                                %td
                                    20
                                %td
                                    %code FIRE_ASPECT
                                %td
                                    %code fire_aspect
                                %td When attacking a target, has a chance to set them on fire.
                            %tr
                                %td
                                    21
                                %td
                                    %code LOOT_BONUS_MOBS
                                %td
                                    %code looting
                                %td Provides a chance of gaining extra loot when killing monsters.
                            %tr
                                %td
                                    32
                                %td
                                    %code DIG_SPEED
                                %td
                                    %code efficiency
                                %td Increases the rate at which you mine/dig.
                            %tr
                                %td
                                    33
                                %td
                                    %code SILK_TOUCH
                                %td
                                    %code silk_touch
                                %td
                                    Allows blocks to drop themselves instead of fragments.
                                    %br
                                    (For example, stone instead of cobblestone)
                            %tr
                                %td
                                    34
                                %td
                                    %code DURABILITY
                                %td
                                    %code unbreaking
                                %td Decreases the rate at which a tool looses durability.
                            %tr
                                %td
                                    35
                                %td
                                    %code LOOT_BONUS_BLOCKS
                                %td
                                    %code fortune
                                %td Provides a chance of gaining extra loot when destroying blocks.
                            %tr
                                %th{:colspan => "4"} Bow Enchantments
                            %tr
                                %th ID
                                %th Bukkit Name
                                %th Minecraft Name
                                %th Description
                            %tr
                                %td
                                    48
                                %td
                                    %code ARROW_DAMAGE
                                %td
                                    %code power
                                %td Provides extra damage when shooting arrows from bows.
                            %tr
                                %td
                                    49
                                %td
                                    %code ARROW_KNOCKBACK
                                %td
                                    %code punch
                                %td Provides a knockback when an entity is hit by an arrow from a bow.
                            %tr
                                %td
                                    50
                                %td
                                    %code ARROW_FIRE
                                %td
                                    %code flame
                                %td Sets entities on fire when hit by arrows shot from a bow.
                            %tr
                                %td
                                    51
                                %td
                                    %code ARROW_INFINITE
                                %td
                                    %code infinity
                                %td Provides infinite arrows when shooting a bow.
                            %tr
                                %th{:colspan => "4"} Fishing Enchantments
                            %tr
                                %th ID
                                %th Bukkit Name
                                %th Minecraft Name
                                %th Description
                            %tr
                                %td
                                    61
                                %td
                                    %code LUCK
                                %td
                                    %code luck_of_the_sea
                                %td Decreases odds of catching worthless junk.
                            %tr
                                %td
                                    62
                                %td
                                    %code LURE
                                %td
                                    %code lure
                                %td Increases rate of fish biting your hook.
                            %tr
                                %th{:colspan => "4"} Item Enchantments
                            %tr
                                %td
                                    70
                                %td
                                    %code MENDING
                                %td
                                    %code mending
                                %td Repair the item using experience orbs.

                :markdown
                    Copied from: [bukkit docs - Enchantments](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/enchantments/Enchantment.html)
