.container
    .jumbotron.subhead
        %h1 Reference
        /%p.lead Main map element
    %section
        .row
            = partial('reference_sidebar')
            .col-lg-9
                .page-header
                    %h1 Item Enchantments
                %p
                    %code NOTE:
                    PGM allows enchantments to be applied to any item.
                
                %h5 Armor enchantments
                %table.table.table-striped.table-hover.table-condensed.table-bordered
                    %thead
                        %tr
                            %th ID
                            %th Name
                            %th Description
                    %tbody
                        %tr
                            %td
                                %code 0
                            %td
                                %code PROTECTION_ENVIRONMENTAL
                            %td Provides protection against environmental damage.
                        %tr
                            %td
                                %code 1
                            %td
                                %code PROTECTION_FIRE
                            %td Provides protection against fire damage.
                        %tr
                            %td
                                %code 2
                            %td
                                %code PROTECTION_FALL
                            %td Provides protection against fall damage.
                        %tr
                            %td
                                %code 3
                            %td
                                %code PROTECTION_EXPLOSIONS
                            %td Provides protection against explosive damage.
                        %tr
                            %td
                                %code 4
                            %td
                                %code PROTECTION_PROJECTILE
                            %td Provides protection against projectile damage.
                        %tr
                            %td
                                %code 5
                            %td
                                %code OXYGEN
                            %td Decreases the rate of air loss whilst underwater.
                        %tr
                            %td
                                %code 6
                            %td
                                %code WATER_WORKER
                            %td Increases the speed at which a player may mine underwater.
                        %tr
                            %td
                                %code 7
                            %td
                                %code THORNS
                            %td Damages the attacker.

                %h5 Tool enchantments
                %table.table.table-striped.table-hover.table-condensed.table-bordered
                    %thead
                        %tr
                            %th ID
                            %th Name
                            %th Description
                    %tbody
                        %tr
                            %td
                                %code 16
                            %td
                                %code DAMAGE_ALL
                            %td Increases damage against all targets.
                        %tr
                            %td
                                %code 17
                            %td
                                %code DAMAGE_UNDEAD
                            %td Increases damage against undead targets.
                        %tr
                            %td
                                %code 18
                            %td
                                %code DAMAGE_ARTHROPODS
                            %td Increases damage against arthropod targets.
                        %tr
                            %td
                                %code 19
                            %td
                                %code KNOCKBACK
                            %td All damage to other targets will knock them back when hit.
                        %tr
                            %td
                                %code 20
                            %td
                                %code FIRE_ASPECT
                            %td When attacking a target, has a chance to set them on fire.
                        %tr
                            %td
                                %code 21
                            %td
                                %code LOOT_BONUS_MOBS
                            %td Provides a chance of gaining extra loot when killing monsters.
                        %tr
                            %td
                                %code 32
                            %td
                                %code DIG_SPEED
                            %td Increases the rate at which you mine/dig.
                        %tr
                            %td
                                %code 33
                            %td
                                %code SILK_TOUCH
                            %td
                                Allows blocks to drop themselves instead of fragments.
                                %br
                                (For example, stone instead of cobblestone)
                        %tr
                            %td
                                %code 34
                            %td
                                %code DURABILITY
                            %td Decreases the rate at which a tool looses durability.
                        %tr
                            %td
                                %code 35
                            %td
                                %code LOOT_BONUS_BLOCKS
                            %td Provides a chance of gaining extra loot when destroying blocks.

                %h5 Bow enchantments
                %table.table.table-striped.table-hover.table-condensed.table-bordered
                    %thead
                        %tr
                            %th ID
                            %th Name
                            %th Description
                    %tbody
                        %tr
                            %td
                                %code 48
                            %td
                                %code ARROW_DAMAGE
                            %td Provides extra damage when shooting arrows from bows.
                        %tr
                            %td
                                %code 49
                            %td
                                %code ARROW_KNOCKBACK
                            %td Provides a knockback when an entity is hit by an arrow from a bow.
                        %tr
                            %td
                                %code 50
                            %td
                                %code ARROW_FIRE
                            %td Sets entities on fire when hit by arrows shot from a bow.
                        %tr
                            %td
                                %code 51
                            %td
                                %code ARROW_INFINITE
                            %td Provides infinite arrows when shooting a bow.

                :markdown
                    Copied from: [bukkit docs Enchantments](http://jd.bukkit.org/doxygen/dd/d17/classorg_1_1bukkit_1_1enchantments_1_1Enchantment.html)
