.jumbotron.subhead
    .container
        %h1 Reference
        /%p.lead Main map element
.container
    %section
        .page-header
            %h1 Item Enchantments
        .row
            = partial('reference_sidebar')
            .span9
                :markdown
                    `NOTE:` PGM allows enchantments to be applied to any item.

                        <!-- Armor enchantments -->
                        PROTECTION_ENVIRONMENTAL - Provides protection against environmental damage.
                        PROTECTION_FIRE - Provides protection against fire damage.
                        PROTECTION_FALL - Provides protection against fall damage.
                        PROTECTION_EXPLOSIONS - Provides protection against explosive damage.
                        PROTECTION_PROJECTILE - Provides protection against projectile damage.
                        OXYGEN - Decreases the rate of air loss whilst underwater.
                        WATER_WORKER - Increases the speed at which a player may mine underwater.
                        THORNS - Damages the attacker.

                        <!-- Tool enchantments -->
                        DAMAGE_ALL - Increases damage against all targets.
                        DAMAGE_UNDEAD - Increases damage against undead targets.
                        DAMAGE_ARTHROPODS - Increases damage against arthropod targets.
                        KNOCKBACK - All damage to other targets will knock them back when hit.
                        FIRE_ASPECT - When attacking a target, has a chance to set them on fire.
                        LOOT_BONUS_MOBS - Provides a chance of gaining extra loot when killing monsters.
                        DIG_SPEED - Increases the rate at which you mine/dig.
                        SILK_TOUCH - Allows blocks to drop themselves instead of fragments.
                                    (for example, stone instead of cobblestone)
                        DURABILITY - Decreases the rate at which a tool looses durability.
                        LOOT_BONUS_BLOCKS - Provides a chance of gaining extra loot when destroying blocks.

                        <!-- Bow enchantments -->
                        ARROW_DAMAGE - Provides extra damage when shooting arrows from bows.
                        ARROW_KNOCKBACK - Provides a knockback when an entity is hit by an arrow from a bow.
                        ARROW_FIRE - Sets entities on fire when hit by arrows shot from a bow.
                        ARROW_INFINITE - Provides infinite arrows when shooting a bow.

                    Copied from: [bukkit docs - Enchantments](http://jd.bukkit.org/doxygen/dd/d17/classorg_1_1bukkit_1_1enchantments_1_1Enchantment.html)
