.jumbotron.subhead
    .container
        %h1 Reference
        /%p.lead Main map element
.container
    %section
        .page-header
            %h1 Item Enchantments
        .row
            = partial('reference_sidebar')
            .span9
                :markdown
                    `NOTE:` PGM allows enchantments to be applied to any item.

                        <!-- Armor enchantments -->
                        PROTECTION_ENVIRONMENTAL -ID 0- Provides protection against environmental damage.
                        PROTECTION_FIRE -ID 1- Provides protection against fire damage.
                        PROTECTION_FALL -ID 2- Provides protection against fall damage.
                        PROTECTION_EXPLOSIONS -ID 3- Provides protection against explosive damage.
                        PROTECTION_PROJECTILE -ID 4- Provides protection against projectile damage.
                        OXYGEN -ID 5-Decreases the rate of air loss whilst underwater.
                        WATER_WORKER -ID 6- Increases the speed at which a player may mine underwater.
                        THORNS -ID 7- Damages the attacker.

                        <!-- Tool enchantments -->
                        DAMAGE_ALL -ID 16- Increases damage against all targets.
                        DAMAGE_UNDEAD -ID 17- Increases damage against undead targets.
                        DAMAGE_ARTHROPODS -ID 18- Increases damage against arthropod targets.
                        KNOCKBACK -ID 19- All damage to other targets will knock them back when hit.
                        FIRE_ASPECT -ID 20- When attacking a target, has a chance to set them on fire.
                        LOOT_BONUS_MOBS -ID 21- Provides a chance of gaining extra loot when killing monsters.
                        DIG_SPEED -ID 32- Increases the rate at which you mine/dig.
                        SILK_TOUCH -ID 33- Allows blocks to drop themselves instead of fragments.
                                    (for example, stone instead of cobblestone)
                        DURABILITY -ID 34- Decreases the rate at which a tool looses durability.
                        LOOT_BONUS_BLOCKS -ID 35- Provides a chance of gaining extra loot when destroying blocks.

                        <!-- Bow enchantments -->
                        ARROW_DAMAGE -ID 48- Provides extra damage when shooting arrows from bows.
                        ARROW_KNOCKBACK -ID 49- Provides a knockback when an entity is hit by an arrow from a bow.
                        ARROW_FIRE -ID 50- Sets entities on fire when hit by arrows shot from a bow.
                        ARROW_INFINITE -ID 51- Provides infinite arrows when shooting a bow.

                    Copied from: [bukkit docs - Enchantments](http://jd.bukkit.org/doxygen/dd/d17/classorg_1_1bukkit_1_1enchantments_1_1Enchantment.html)
