.container
    .jumbotron.subhead
        %h1= @page_title = "Reference"
        /%p.lead Main map element
    %section
        .row
            = partial('reference_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Entity Types"

                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th ID
                                %th Name
                                %th Description
                        %tbody
                            %tr
                                %td
                                    %code 1
                                %td
                                    %code DROPPED_ITEM
                                %td An item resting on the ground.
                            %tr
                                %td
                                    %code 2
                                %td
                                    %code EXPERIENCE_ORB
                                %td An experience orb.
                            %tr
                                %td
                                    %code 8
                                %td
                                    %code LEASH_HITCH
                                %td A leash attached to a fencepost.
                            %tr
                                %td
                                    %code 9
                                %td
                                    %code PAINTING
                                %td A painting on a wall.
                            %tr
                                %td
                                    %code 10
                                %td
                                    %code ARROW
                                %td An arrow projectile; may get stuck in the ground.
                            %tr
                                %td
                                    %code 11
                                %td
                                    %code SNOWBALL
                                %td A flying snowball.
                            %tr
                                %td
                                    %code 12
                                %td
                                    %code FIREBALL
                                %td A flying large fireball, as thrown by a Ghast for example.
                            %tr
                                %td
                                    %code 13
                                %td
                                    %code SMALL_FIREBALL
                                %td A flying small fireball, such as thrown by a Blaze or player.
                            %tr
                                %td
                                    %code 14
                                %td
                                    %code ENDER_PEARL
                                %td A flying ender pearl.
                            %tr
                                %td
                                    %code 15
                                %td
                                    %code ENDER_SIGNAL
                                %td An ender eye signal.
                            %tr
                                %td
                                    %code 17
                                %td
                                    %code THROWN_EXP_BOTTLE
                                %td A flying experience bottle.
                            %tr
                                %td
                                    %code 18
                                %td
                                    %code ITEM_FRAME
                                %td An item frame on a wall.
                            %tr
                                %td
                                    %code 19
                                %td
                                    %code WITHER_SKULL
                                %td A flying wither skull projectile.
                            %tr
                                %td
                                    %code 20
                                %td
                                    %code PRIMED_TNT
                                %td Primed TNT that is about to explode.
                            %tr
                                %td
                                    %code 21
                                %td
                                    %code FALLING_BLOCK
                                %td A block that is going to or is about to fall.
                            %tr
                                %td
                                    %code 22
                                %td
                                    %code FIREWORK
                                %td A flying firework.
                            %tr
                                %td
                                    %code 40
                                %td
                                    %code MINECART_COMMAND
                                %td A minecart with a command block in it.
                            %tr
                                %td
                                    %code 41
                                %td
                                    %code BOAT
                                %td A placed boat.
                            %tr
                                %td
                                    %code 42
                                %td
                                    %code MINECART
                                %td A minecart
                            %tr
                                %td
                                    %code 43
                                %td
                                    %code MINECART_CHEST
                                %td A minecart with a chest in it.
                            %tr
                                %td
                                    %code 44
                                %td
                                    %code MINECART_FURNACE
                                %td A powered minecart.
                            %tr
                                %td
                                    %code 45
                                %td
                                    %code MINECART_TNT
                                %td A minecart with TNT in it.
                            %tr
                                %td
                                    %code 46
                                %td
                                    %code MINECART_HOPPER
                                %td A minecart with a hopper in it.
                            %tr
                                %td
                                    %code 47
                                %td
                                    %code MINECART_MOB_SPAWNER
                                %td A minecart with a mob spawner in it.
                            %tr
                                %td
                                    %code 200
                                %td
                                    %code ENDER_CRYSTAL
                                %td A ender crystal
                            %tr
                                %td
                                    %code ø
                                %td
                                    %code SPLASH_POTION
                                %td A flying splash potion.
                            %tr
                                %td
                                    %code ø
                                %td
                                    %code EGG
                                %td A flying chicken egg.
                            %tr
                                %td
                                    %code ø
                                %td
                                    %code FISHING_HOOK
                                %td A fishing line and bobber.
                            %tr
                                %td
                                    %code ø
                                %td
                                    %code LIGHTNING
                                %td A bolt of lightning.
                            %tr
                                %td
                                    %code ø
                                %td
                                    %code WEATHER
                                %td
                            %tr
                                %td
                                    %code ø
                                %td
                                    %code PLAYER
                                %td
                            %tr
                                %td
                                    %code ø
                                %td
                                    %code COMPLEX_PART
                                %td
                            %tr
                                %td
                                    %code ø
                                %td
                                    %code UNKNOWN
                                %td An unknown entity without an Entity Class.
                            %tr{:id => "creatures"}
                                %th{:colspan => "3"} Creature Types
                            %tr
                                %td
                                    %code 50
                                %td
                                    %code CREEPER
                                %td
                                    A creeper.
                            %tr
                                %td
                                    %code 51
                                %td
                                    %code SKELETON
                                %td
                                    A skeleton .
                            %tr
                                %td
                                    %code 52
                                %td
                                    %code SPIDER
                                %td
                                    A spider.
                            %tr
                                %td
                                    %code 53
                                %td
                                    %code GIANT
                                %td
                                    A giant.
                                    %span.label.label-danger Deprecated
                            %tr
                                %td
                                    %code 54
                                %td
                                    %code ZOMBIE
                                %td
                                    A zombie.
                            %tr
                                %td
                                    %code 55
                                %td
                                    %code SLIME
                                %td
                                    A slime.
                            %tr
                                %td
                                    %code 56
                                %td
                                    %code GHAST
                                %td
                                    A ghast.
                            %tr
                                %td
                                    %code 57
                                %td
                                    %code PIG_ZOMBIE
                                %td
                                    A zombie pigman.
                            %tr
                                %td
                                    %code 58
                                %td
                                    %code ENDERMAN
                                %td
                                    An enderman.
                            %tr
                                %td
                                    %code 59
                                %td
                                    %code CAVE_SPIDER
                                %td
                                    A cave spider.
                            %tr
                                %td
                                    %code 60
                                %td
                                    %code SILVERFISH
                                %td
                                    A silverfish.
                            %tr
                                %td
                                    %code 61
                                %td
                                    %code BLAZE
                                %td
                                    A blaze.
                            %tr
                                %td
                                    %code 62
                                %td
                                    %code MAGMA_CUBE
                                %td
                                    A magma cube.
                            %tr
                                %td
                                    %code 63
                                %td
                                    %code ENDER_DRAGON
                                %td
                                    An ender dragon.
                            %tr
                                %td
                                    %code 64
                                %td
                                    %code WITHER
                                %td
                                    A wither.
                            %tr
                                %td
                                    %code 65
                                %td
                                    %code BAT
                                %td
                                    A bat.
                            %tr
                                %td
                                    %code 66
                                %td
                                    %code WITCH
                                %td
                                    A witch.
                            %tr
                                %td
                                    %code 90
                                %td
                                    %code PIG
                                %td
                                    A pig.
                            %tr
                                %td
                                    %code 91
                                %td
                                    %code SHEEP
                                %td
                                    A sheep.
                            %tr
                                %td
                                    %code 92
                                %td
                                    %code COW
                                %td
                                    A cow.
                            %tr
                                %td
                                    %code 93
                                %td
                                    %code CHICKEN
                                %td
                                    A chicken.
                            %tr
                                %td
                                    %code 94
                                %td
                                    %code SQUID
                                %td
                                    A squid.
                            %tr
                                %td
                                    %code 95
                                %td
                                    %code WOLF
                                %td
                                    A wolf.
                            %tr
                                %td
                                    %code 96
                                %td
                                    %code MUSHROOM_COW
                                %td
                                    A mooshroom.
                            %tr
                                %td
                                    %code 97
                                %td
                                    %code SNOWMAN
                                %td
                                    A snowman.
                            %tr
                                %td
                                    %code 98
                                %td
                                    %code OCELOT
                                %td
                                    An ocelot.
                            %tr
                                %td
                                    %code 99
                                %td
                                    %code IRON_GOLEM
                                %td
                                    An iron golem.
                            %tr
                                %td
                                    %code 100
                                %td
                                    %code HORSE
                                %td
                                    A horse.
                            %tr
                                %td
                                    %code 120
                                %td
                                    %code VILLAGER
                                %td
                                    A villager.
                                %td

                :markdown
                    Copied from: [bukkit docs - Entity Types](http://jd.bukkit.org/rb/doxygen/d7/dbf/enumorg_1_1bukkit_1_1entity_1_1EntityType.html)
