.container
    .jumbotron.subhead
        %h1= @page_title = "Reference"
    %section
        .row
            = partial('reference_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Formatting Codes"
                :markdown
                    Text formatting codes are used to create fancy colorized text, they are prefixed with a grave symbol <code>\`</code>. After using a formatting code such as ``o` (italic) it has to be reset, otherwise it will continue until the end of the text.

                    <div class="alert alert-info alert-small">Some older maps may use the depreciated ยง section symbol to specify formatting codes. This symbol should not be used in new map files.</div>

                    Examples

                        <item name="`iFrozen `rWater" material="snowball"/>

                        <line>This is one of three of `9Blue Team`r's victory monuments.</line>

                        <item name="`1Blue `4Red `rNone" material="book"/>

                    <br/>
                    ##### [Chat Colors](id:chatColors)
                    ![Minecraft Colors .png](/img/colors.png)
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th ID
                                %th Color Name
                        %tbody
                            %tr
                                %td
                                    %code 0
                                %td BLACK
                            %tr
                                %td
                                    %code 1
                                %td DARK_BLUE
                            %tr
                                %td
                                    %code 2
                                %td DARK_GREEN
                            %tr
                                %td
                                    %code 3
                                %td DARK_AQUA
                            %tr
                                %td
                                    %code 4
                                %td DARK_RED
                            %tr
                                %td
                                    %code 5
                                %td DARK_PURPLE
                            %tr
                                %td
                                    %code 6
                                %td GOLD
                            %tr
                                %td
                                    %code 7
                                %td GRAY
                            %tr
                                %td
                                    %code 8
                                %td DARK_GRAY
                            %tr
                                %td
                                    %code 9
                                %td BLUE
                            %tr
                                %td
                                    %code a
                                %td GREEN
                            %tr
                                %td
                                    %code b
                                %td AQUA
                            %tr
                                %td
                                    %code c
                                %td RED
                            %tr
                                %td
                                    %code d
                                %td LIGHT_PURPLE
                            %tr
                                %td
                                    %code e
                                %td YELLOW
                            %tr
                                %td
                                    %code f
                                %td WHITE

                :markdown
                    ##### Text
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th ID
                                %th Function
                        %tbody
                            %tr
                                %td
                                    %code k
                                %td MAGIC
                            %tr
                                %td
                                    %code l
                                %td BOLD
                            %tr
                                %td
                                    %code m
                                %td STRIKETHROUGH
                            %tr
                                %td
                                    %code n
                                %td UNDERLINE
                            %tr
                                %td
                                    %code o
                                %td ITALIC
                            %tr
                                %td
                                    %code r
                                %td RESET
                :markdown
                    The magic formatter will convert all the text after it into a scrambled, constantly changing mess of letters.

                    `NOTE:` Reset resets all color and text styles.

                    To have a line all italic and one word red you will have to to do the following.

                        <!-- Everything is italic and the word "italic" is also red -->
                        <line>`oThis is a `citalic `r`otext with a single red word.</line>

                    Copied from: [bukkit docs - Chat Color](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/ChatColor.html)
