.container
    .jumbotron.subhead
        %h1 Reference
        /%p.lead Main map element
    %section
        .row
            = partial('reference_sidebar')
            .col-sm-9
                .page-header
                    %h1 Inventory Slots
                :markdown
                    ![Inv Slots .png](/img/inv_slots.png)

                    List of item names: [Bukkit documentation - Material List](http://jd.bukkit.org/dev/apidocs/org/bukkit/Material.html)
