.container
    .jumbotron.subhead
        %h1 Reference
        /%p.lead Main map element
    %section
        .row
            = partial('reference_sidebar')
            .col-sm-9
                .page-header
                    %h1 Inventory Slots
                :markdown
                    ![Inv Slots .png](/img/inv_slots.png)

                    List of item names: [Bukkit documentation - Material List](http://jd.bukkit.org/apidocs/org/bukkit/Material.html)

                    <br/>
                    #### [Empty Inventory Kit](id:emptyKit)

                        <kit name="nullinv"> <!-- This kit will only null the players inventory and hot-bar (not armor) -->
                            <item slot="0" amount="0">air</item>
                            <item slot="1" amount="0">air</item>
                            <item slot="2" amount="0">air</item>
                            <item slot="3" amount="0">air</item>
                            <item slot="4" amount="0">air</item>
                            <item slot="5" amount="0">air</item>
                            <item slot="6" amount="0">air</item>
                            <item slot="7" damage="0">air</item>
                            <item slot="8" amount="0">air</item>
                            <item slot="9" amount="0">air</item>
                            <item slot="10" amount="0">air</item>
                            <item slot="11" amount="0">air</item>
                            <item slot="12" amount="0">air</item>
                            <item slot="13" amount="0">air</item>
                            <item slot="14" amount="0">air</item>
                            <item slot="15" amount="0">air</item>
                            <item slot="16" amount="0">air</item>
                            <item slot="17" amount="0">air</item>
                            <item slot="18" amount="0">air</item>
                            <item slot="19" amount="0">air</item>
                            <item slot="20" amount="0">air</item>
                            <item slot="21" amount="0">air</item>
                            <item slot="22" amount="0">air</item>
                            <item slot="23" amount="0">air</item>
                            <item slot="24" amount="0">air</item>
                            <item slot="25" amount="0">air</item>
                            <item slot="26" amount="0">air</item>
                            <item slot="27" amount="0">air</item>
                            <item slot="28" amount="0">air</item>
                            <item slot="29" amount="0">air</item>
                            <item slot="30" amount="0">air</item>
                            <item slot="31" amount="0">air</item>
                            <item slot="32" amount="0">air</item>
                            <item slot="33" amount="0">air</item>
                            <item slot="34" amount="0">air</item>
                            <item slot="35" amount="0">air</item>
                        </kit>

                    Copied from the [Babylon map XML](https://maps.oc.tc/TDM/Standard/Babylon/map.xml).
