.jumbotron.subhead
    .container
        %h1 Reference
        /%p.lead Main map element
.container
    %section
        .page-header
            %h1 Inventory Slots
        .row
            = partial('reference_sidebar')
            .span9
                :markdown
                    ![Inv Slots .png](/img/inv_slots.png)  

                    List of item names: [bukkit docs - Material](http://jd.bukkit.org/apidocs/org/bukkit/Material.html)
