.container
    .jumbotron.subhead
        %h1 Reference
        /%p.lead Main map element
    %section
        .row
            = partial('reference_sidebar')
            .col-sm-9
                .page-header
                    %h1 Inventory Slots
                :markdown
                    ![Inv Slots .png](/img/inv_slots.png)

                    List of item names: [Bukkit documentation - Material List](http://jd.bukkit.org/dev/apidocs/org/bukkit/Material.html)

                    <br/>
                    #### [Empty Inventory Kit](id:emptyKit)

                        <kit name="clear-inv"> <!-- This kit will only clear the player's inventory and hot-bar -->
                            <item slot="0">air</item>
                            <item slot="1">air</item>
                            <item slot="2">air</item>
                            <item slot="3">air</item>
                            <item slot="4">air</item>
                            <item slot="5">air</item>
                            <item slot="6">air</item>
                            <item slot="7">air</item>
                            <item slot="8">air</item>
                            <item slot="9">air</item>
                            <item slot="10">air</item>
                            <item slot="11">air</item>
                            <item slot="12">air</item>
                            <item slot="13">air</item>
                            <item slot="14">air</item>
                            <item slot="15">air</item>
                            <item slot="16">air</item>
                            <item slot="17">air</item>
                            <item slot="18">air</item>
                            <item slot="19">air</item>
                            <item slot="20">air</item>
                            <item slot="21">air</item>
                            <item slot="22">air</item>
                            <item slot="23">air</item>
                            <item slot="24">air</item>
                            <item slot="25">air</item>
                            <item slot="26">air</item>
                            <item slot="27">air</item>
                            <item slot="28">air</item>
                            <item slot="29">air</item>
                            <item slot="30">air</item>
                            <item slot="31">air</item>
                            <item slot="32">air</item>
                            <item slot="33">air</item>
                            <item slot="34">air</item>
                            <item slot="35">air</item>
                        </kit>
                        <kit name="clear-armor"> <!-- This kit will only clear the player's armor -->
                            <helmet>air</helmet>
                            <chestplate>air</chestplate>
                            <leggings>air</leggings>
                            <boots>air</boots>
                        </kit>
