.jumbotron.subhead
    .container
        %h1 Reference
        /%p.lead Main map element
.container
    %section
        .page-header
            %h1 Potion Effects
        .row
            = partial('reference_sidebar')
            .span9
                :markdown
                        SPEED - Increases movement speed.
                        SLOW - Decreases movement speed.
                        FAST_DIGGING - Increases dig speed.
                        SLOW_DIGGING - Decreases dig speed.
                        INCREASE_DAMAGE - Increases damage dealt.
                        HEAL - Heals an entity.
                        HARM - Hurts an entity.
                        JUMP - Increases jump height.
                        CONFUSION - Warps vision on the client.
                        REGENERATION - Regenerates health.
                        DAMAGE_RESISTANCE - Decreases damage dealt to an entity.
                        FIRE_RESISTANCE - Stops fire damage.
                        WATER_BREATHING - Allows breathing underwater.
                        INVISIBILITY - Grants invisibility.
                        BLINDNESS - Blinds an entity.
                        NIGHT_VISION - Allows an entity to see in the dark.
                        HUNGER - Increases hunger.
                        WEAKNESS - Decreases damage dealt by an entity.
                        POISON - Deals damage to an entity over time.
                        
                        <!-- May not work as expected with PGM -->
                        WITHER - Deals damage to an entity over time and gives the health to the shooter.


                    Copied from: [bukkit docs - Potion Effect Types](http://jd.bukkit.org/doxygen/d3/d70/classorg_1_1bukkit_1_1potion_1_1PotionEffectType.html)  
                    See: [Minecraft wiki - Potions](http://www.minecraftwiki.net/wiki/Potions) for potion damage values.
