.container
    .jumbotron.subhead
        %h1= @page_title = "Reference"
    %section
        .row
            = partial('reference_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "Time Periods"
                :markdown
                    Time periods are numbers suffixed with a time unit. Periods with no formatter suffix default to seconds.

                    In some contexts, `oo` can be used to indicate an infinite time period.
                .table-responsive
                    %table.table.table-striped.table-condensed
                        %thead
                            %tr
                                %th Suffix
                                %th Duration
                        %tbody
                            %tr
                                %td
                                    %code y
                                %td Year
                            %tr
                                %td
                                    %code mo
                                %td Month
                            %tr
                                %td
                                    %code d
                                %td Day
                            %tr
                                %td
                                    %code h
                                %td Hour
                            %tr
                                %td
                                    %code m
                                %td Minute
                            %tr
                                %td
                                    %code s
                                %td Seconds
                    :markdown
                        Example

                            <score>
                                <!-- 5 minutes -->
                                <time>5m</time>
                            </score>
