.container
    .jumbotron.subhead
        %h1 Examples
        %p.lead XML File Examples
    %section
        .row
            = partial('examples_sidebar')
            .col-sm-9
                .page-header
                    %h1 Airship Battles
                :markdown
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/main)
                    Every map XML file starts with the XML header and then the base `<map>` module.
                        
                        <map proto="1.0.0">
                            <!-- Specifies what the map is called-->
                         <name>Airship Battle</name>
                            <!-- States what version the map is-->
                            <version>100</version>
                            <!-- Tells the teams what the objective is in order to win the game-->
                            <objective>
                                Leak lava from the enemy's obsidian core into the void.
                            </objective>
                            <!-- States who made the map-->
                            <authors>
                             <author>Dewtroid</author>
                            </authors>
                            <!-- Shows any map rules that are not in normal OCN rules-->
                            <rules>
                                <rule>Dispensers are disabled</rule>
                            </rules>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/filters)
                    This is used to prevent people from placing dispencers anywhere they are used.
                
                            <filters>
                                <filter name="deny-dispenser">
                                    <deny>
                                        <block>dispenser</block>
                                    </deny>
                                </filter>
                            </filters>
            
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/teams)
                    Defines the teams [colors](/reference/formatting), names and how many people can be on the teams.
            
                        <teams>
                            <team color="blue" max="24">Blue Team</team>
                            <team color="dark red" max="24">Red Team</team>
                        </teams>
            
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/regions)
                    These regions call the filter specified earlier and states where they will work.
            
                        <regions>
                            <apply block-place="deny-dispenser">
                                <negative>
                                    <rectangle min="0,0" max="0,0"/>
                                </negative>
                            </apply>
                        </regions>
    
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/spawns)
                    Specifiy where the previously named teams will spawn and what direction. 
            
                        <spawns>
                        <!-- The yaw=" " specifies what direction the team will spawn-->
                            <spawn team="blue" yaw="270">
                                <cuboid min="4.5,91,-34" max="7.5,91,-31"/>
                            </spawn>
                            <spawn team="red" yaw="90">
                                <cuboid min="-30.5,91,-34" max="-27.5,91,-31"/>
                            </spawn>
                            <default yaw="180">
                                <cylinder base="-11.5,90,-33" radius="3" height="0"/>
                            </default>
                        </spawns>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/playable_region)
                    The playable region is the area that people can build on.
                    
                        <playable>
                            <rectangle min="-100,-2" max="100,123"/>
                            <!--  Main area  -->
                            <rectangle min="-36,-14" max="12,-2"/>
                            <!--  Area between spawn tunnels  -->
                        </playable>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/gamemode_dtc)
                    This specifies what material the core is made of, who the core belongs to and how far the lava needs to leak.
                        
                        <cores material="obsidian" leak="10">
                            <core team="blue">
                                <cuboid min="13,85,23" max="18,92,30"/>
                            </core>
                            <core team="red">
                                <cuboid min="-41,85,23" max="-36,92,30"/>
                            </core>
                        </cores>
            
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/other_settings)
                    This specifies how high players can build however it doesn't stop them from going over this limit.
            
                        <maxbuildheight>125</maxbuildheight>
            
                    </br>
                    This closes the main <map> module.
            
                        </map>
            
                
