.container
    .jumbotron.subhead
        %h1 Examples
        %p.lead XML File Examples
    %section
        .row
            = partial('examples_sidebar')
            .col-sm-9
                .page-header
                    %h1 GS: Eldritch
                :markdown
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/main)
                    Specify the main map element. Name, version, objective, ect.

                        <?xml version="1.0"?>
                        <map proto="1.3.0">
                        <name>GS: Eldritch</name>
                        <version>v02</version>
                        <objective>Kill the enemy's squadron!</objective>

                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/includes)
                    Include the default [ghostsquadron classes](https://maps.oc.tc/GS/classes.xml).  
                    The included XML specifies that this is a [ghostsquadron](/modules/gamemode_other#gs) map and sets up all the relevant classes & kits.

                        <include src="../classes.xml"/>

                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/main)
                    Specify the map author, there are no contributors.

                        <authors>
                            <author>Vechs</author>
                        </authors>

                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/teams)
                    Create two teams, specify their [color](/reference/formatting) and max players.

                        <teams>
                            <team color="blue" max="8">Blue Team</team>
                            <team color="dark red" max="8">Red Team</team>
                        </teams>

                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/regions)
                    Create the main area and deny all block interaction.

                        <regions>
                            <rectangle name="main-area" min="-oo,-oo" max="oo,oo"/>
                            <apply block="deny-players">
                                <region name="main-area"/>
                            </apply>
                        </regions>

                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/playable_region)
                    Assign the region named 'main-area' as the [playable region](/modules/playable_region).

                        <playable>
                            <region name="main-area"/>
                        </playable>

                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/spawns)
                    Specify the two team's spawn points, as well as the observer spawn point.

                        <spawns>
                            <spawns>
                                <spawn team="blue" yaw="90">
                                    <cuboid min="584,24,-303" max="591,24,-296"/>
                                </spawn>
                                <spawn team="red" yaw="-90">
                                    <cuboid min="522,24,-264" max="529,24,-257"/>
                                </spawn>
                            </spawns>
                            <default>
                                <point yaw="145">580.5,32,-248.5</point>
                            </default>
                        </spawns>

                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/main)
                    Close the main `<map>` element.

                        </map>
