.container
    .jumbotron.subhead
        %h1= @page_title = "Examples"
        %p.lead XML File Examples
    %section
        .row
            = partial('examples_sidebar')
            .col-sm-9
                .page-header
                    %h1= @page_sub_title = "GS: Eldritch"
                :markdown
                    [<i class="fa fa-share right-ref-link"></i>](/modules/main)
                    Specify the main map element. Name, version, objective, ect.

                        <?xml version="1.0"?>
                        <map proto="#{$map_proto}">
                        <name>GS: Eldritch</name>
                        <version>v02.1</version>
                        <objective>Kill the enemy's squadron!</objective>

                    <br/>
                    [<i class="fa fa-share right-ref-link"></i>](/modules/includes)
                    Include the default [ghostsquadron classes](https://maps.oc.tc/Blitz/GS/gs.xml).
                    The included XML specifies that this is a [ghostsquadron](/modules/gamemode_other#gs) map and sets up all the relevant classes & kits.

                        <include src="gs.xml"/>

                    <br/>
                    [<i class="fa fa-share right-ref-link"></i>](/modules/main)
                    Specify the map author, there are no contributors.

                        <authors>
                            <author uuid="1ac2b1d3-d623-4dab-99e5-08f3cfe1c1a0"/>
                            <!-- Vechs1 -->
                        </authors>

                    <br/>
                    [<i class="fa fa-share right-ref-link"></i>](/modules/teams)
                    Create two teams, specify their [color](/reference/formatting#chatColors) and max players.

                        <teams>
                            <team color="blue" max="8">Blue Team</team>
                            <team color="dark red" max="8">Red Team</team>
                        </teams>

                    <br/>
                    [<i class="fa fa-share right-ref-link"></i>](/modules/regions)
                    Create the main area and deny all block interaction.

                        <regions>
                            <rectangle name="main-area" min="-oo,-oo" max="oo,oo"/>
                            <apply block="deny-players">
                                <region name="main-area"/>
                            </apply>
                            <apply enter="deny-all" message="You may not leave the playing field">
                                <negative>
                                    <union>
                                        <cuboid name="red-base" min="530,23,-265" max="522,29,-257"/>
                                        <cuboid name="blue-base" min="583,23,-295" max="592,29,-304"/>
                                        <rectangle min="530,-308" max="583,-250"/>
                                    </union>
                                </negative>
                                <rectangle min="524,-307" max="533,-296"/>
                            </apply>
                        </regions>

                    <br/>
                    [<i class="fa fa-share right-ref-link"></i>](/modules/spawns)
                    Specify the two team's spawn points, as well as the observer spawn point.

                        <spawns>
                            <spawns>
                                <spawn team="blue" yaw="90">
                                    <cuboid min="584,24,-303" max="591,24,-296"/>
                                </spawn>
                                <spawn team="red" yaw="-90">
                                    <cuboid min="522,24,-264" max="529,24,-257"/>
                                </spawn>
                            </spawns>
                            <default>
                                <point yaw="145">580.5,32,-248.5</point>
                            </default>
                        </spawns>

                    <br/>
                    [<i class="fa fa-share right-ref-link"></i>](/modules/main)
                    Close the main `<map>` element.

                        </map>
