.jumbotron.subhead
    .container
        %h1 Examples
        %p.lead XML File Examples
.container
    %section
        .page-header
            %h1 Snowy Wars
        .row
            = partial('examples_sidebar')
            .span9
                :markdown
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/main)
                    Every map XML file starts with the xml header and then the base `<map>` module.

                        <?xml version="1.0"?>

                        <!-- Open the main map module and specify the PGM protocol version it was created for. -->
                        <map proto="1.3.0">

                        <!-- Set the maps name and version. -->
                        <name>Snowy Wars</name>
                        <version>1.2</version>

                        <!-- Specify the game objective and credit the creator of the map. -->
                        <objective>Break the obsidian from the enemy team's monument.</objective>
                        <authors>
                            <author>roro28gutier</author>
                        </authors>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/teams)
                    Define two teams, their [colors](/reference/formatting) and names.

                        <teams>
                            <team color="dark red" max="12">Red Team</team>
                            <team color="blue" max="12">Blue Team</team>
                        </teams>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/other_settings)
                    The maps max build height in blocks.

                        <maxbuildheight>20</maxbuildheight>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/spawns)
                    Specify where the previously defined teams will spawn. Both teams have two spawn cylinders, players will spawn in one at random at a random location inside the cylinder. We also specify what kit the players will get when spawning. The kits are defined further down in the maps XML file and are referenced here by name.

                    The direction a player faces when spawning in a region is defined by putting the region inside a `<spawn>` element and specifing the `yaw=""` attribute.

                        <spawns>
                            <spawns team="red" kit="red">
                                <spawn yaw="-45">
                                    <cylinder base="-619.5,11,259.5" height="0" radius="2"/> <!-- West -->
                                </spawn>
                                <spawn yaw="45">
                                    <cylinder base="-571.5,11,259.5" height="0" radius="2"/> <!-- East -->
                                </spawn>
                            </spawns>
                            <spawns team="blue" kit="blue">
                                <spawn yaw="-135">
                                    <cylinder base="-619.5,11,349.5" height="0" radius="2"/> <!-- West -->
                                </spawn>
                                <spawn yaw="135">
                                    <cylinder base="-571.5,11,349.5" height="0" radius="2"/> <!-- East -->
                                </spawn>
                            </spawns>
                            <default yaw="-90"><cuboid min="-544,13,302" max="-540,13,306"/></default>
                        </spawns>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/gamemode_dtm)
                    The objective of the map, in this case a monument made out of obsidian. Both monuments get assigned a `owner=""` which specifies who's team it belongs to. The team who destroys the enemys monument first wins.

                        <destroyables name="Monument" completion="100%" materials="obsidian">
                            <destroyable owner="blue">
                                <cuboid min="-596,10,361" max="-595,12,362"/>
                            </destroyable>
                            <destroyable owner="red">
                                <cuboid min="-596,10,247" max="-595,12,248"/>
                            </destroyable>
                        </destroyables>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/filters)
                    A slightly complex block filter that prevents ice from melting naturally. See [filter matchers](/modules/filters#filterMatchers) for a more detailed explanation.

                        <filters>
                            <filter name="deny-icemelt">
                                <not><all><!-- DENY if world and ice, ALLOW if not world, ABSTAIN if world and not ice-->
                                    <any><!-- ALLOW if world, DENY else -->
                                        <filter name="allow-world" />
                                        <filter name="deny-all" />
                                    </any>
                                    <block>ice</block><!-- ALLOW if ice, ABSTAIN else -->
                                </all></not>
                            </filter>
                        </filters>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/regions)
                    The regions of the map. Here we specify a rectangle region named `playable` it will be referenced from the playable region module lower down. The `playable` region gets the `deny-icemelt` filter applied. We also specify the team base regions and apply a filter to prevent all players from breaking blocks inside the base.

                        <regions>
                            <apply block="deny-icemelt">
                                <rectangle min="-635,232" max="-556,377" name="playable" />
                            </apply>
                            <apply block="deny-players" message="Please don't break the spawns!">
                                <cylinder base="-619.5,10,259.5" height="6" radius="5"/> <!-- West Red -->
                                <cylinder base="-571.5,10,259.5" height="6" radius="5"/> <!-- East -->
                                <cylinder base="-619.5,10,349.5" height="6" radius="5"/> <!-- West Blue -->
                                <cylinder base="-571.5,10,349.5" height="6" radius="5"/> <!-- East -->
                            </apply>
                        </regions>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/playable_region)
                    The playable region, it references a region named `playable` defined in the `<regions>` module.

                        <playable>
                            <region name="playable" />
                        </playable>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/kits)
                    Each team kit has leather armor colored in their team color and they inherit the main spawn kit.

                        <kits>
                            <kit name="spawn">
                                <item slot="0">stone sword</item>
                                <item slot="1" enchantment="arrow infinite:1">bow</item>
                                <item slot="28">arrow</item>
                                <item slot="2">iron axe</item>
                                <item slot="3" enchantment="dig speed:1">diamond pickaxe</item>
                                <item slot="4" amount="64" damage="2">wood</item>
                                <item slot="5" amount="32">apple</item>
                                <item slot="6" amount="7">gold nugget</item>
                                <potion duration="2" amplifier="1">heal</potion>
                                <potion duration="5">damage resistance</potion>
                            </kit>
                            <kit name="red" parents="spawn">
                                <helmet color="cd0000">leather helmet</helmet>
                                <chestplate color="cd0000" enchantment="protection environmental:1">leather chestplate</chestplate>
                                <leggings color="cd0000">leather leggings</leggings>
                                <boots color="cd0000">leather boots</boots>
                            </kit>
                            <kit name="blue" parents="spawn">
                                <helmet color="0066cc">leather helmet</helmet>
                                <chestplate color="0066cc" enchantment="protection environmental:1">leather chestplate</chestplate>
                                <leggings color="0066cc">leather leggings</leggings>
                                <boots color="0066cc">leather boots</boots>
                            </kit>
                        </kits>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/repair_remove)
                    Specify that iron swords, diamond pickaxes, iron axes, and bows get repaired when dropped or when the player picks one up.

                        <toolrepair>
                            <tool>iron sword</tool>
                            <tool>diamond pickaxe</tool>
                            <tool>iron axe</tool>
                            <tool>bow</tool>
                        </toolrepair>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/repair_remove)
                    Remove arrows, leather armor, wood, apples and obsidian when it is dropped. Items that get dropped from block–break actions also get removed.

                        <itemremove>
                            <item>arrow</item>
                            <item>leather helmet</item>
                            <item>leather chestplate</item>
                            <item>leather leggings</item>
                            <item>leather boots</item>
                            <item>wood</item>
                            <item>apple</item>
                            <item>obsidian</item>
                        </itemremove>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/tnt)
                    Specify that TNT ignites instantly when placed and does not destroy blocks.

                        <tnt>
                            <instantignite>on</instantignite>
                            <blockdamage>off</blockdamage>
                        </tnt>

                    <br/>
                    Close the main `<map>` module.

                        </map>
