.jumbotron.subhead
    .container
        %h1 Examples
        %p.lead XML File Examples
.container
    %section
        .page-header
            %h1 Storm
        .row
            = partial('examples_sidebar')
            .span9
                :markdown
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/main)
                    Specify the XML file version and then open the main map module and specify the maps name, version and objective.

                        <?xml version="1.0"?>
                        <name>Storm</name>
                        <version>0.1.3</version>
                        <objective>Take control of all three hills!</objective>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/main)
                    Specify map authors.

                        <authors>
                            <author>Plastix</author>
                            <author>Lyzak</author>
                            <author>SajinZero</author>
                        </authors>

                    [<i class="icon-share-alt right-ref-link"></i>](/modules/teams)
                    Define two teams, their [colors](/reference/formatting) and names.

                        <teams>
                            <team color="dark red" max="32">Red Team</team>
                            <team color="blue" max="32">Blue Team</team>
                        </teams>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/kits)
                    Team spawn kits, they both have the same kit.

                        <kits>
                            <kit name="spawn">
                                <item slot="0">stone sword</item>
                                <item slot="1" enchantment="arrow infinite:1">bow</item>
                                <item slot="28" amount="1">arrow</item>
                                <item slot="3" amount="1">golden apple</item>
                                <item slot="2" amount="64">baked potato</item>
                                <chestplate enchantment="protection projectile:1">iron chestplate</chestplate>
                                <potion duration="5">heal</potion>
                                <potion duration="10" amplifier="4">damage resistance</potion>
                            </kit>
                            <kit name="red" parents="spawn">
                                <helmet color="cd0000">leather helmet</helmet>
                                <leggings color="cd0000">leather leggings</leggings>
                                <boots color="cd0000">leather boots</boots>
                            </kit>
                            <kit name="blue" parents="spawn">
                                <helmet color="0066cc">leather helmet</helmet>
                                <leggings color="0066cc">leather leggings</leggings>
                                <boots color="0066cc">leather boots</boots>
                            </kit>
                        </kits>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/filters)
                    Create a filter for later use.

                        <filters>
                            <filter name="deny-beacon" parents="allow-all">
                                <deny>
                                    <block>beacon</block>
                                </deny>
                            </filter>
                        </filters>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/regions)
                    Create all the regions. The filter is applied here.

                        <regions>
                            <rectangle name="playable" min="-oo,-oo" max="oo,oo"/>
                            <cylinder name="red-spawn" base="49,4,66" radius="4" height="0"/>
                            <cylinder name="blue-spawn" base="-48,4,-65" radius="4" height="0"/>
                            <apply block="deny-all" use="deny-beacons">
                                <region name="playable"/>
                            </apply>
                        </regions>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/repair_remove)
                    Add auto repair to some tools.

                        <toolrepair>
                            <tool>stone sword</tool>
                            <tool>bow</tool>
                        </toolrepair>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/reapair_remove)
                    Add auto remove to some tools and items.

                        <itemremove>
                            <item>leather helmet</item>
                            <item>leather chestplate</item>
                            <item>leather leggings</item>
                            <item>leather boots</item>
                            <item>arrow</item>
                            <item>ladder</item>
                            <item>baked potato</item>
                            <item>golden apple</item>
                            <item>glass bottle</item>
                        </itemremove>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/spawns)
                    Specify team spawns.

                        <spawns>
                            <spawns yaw="90">
                                <spawn team="red" kit="red">
                                    <region name="red-spawn"/>
                                </spawn>
                            </spawns>
                            <spawns yaw="270">
                                <spawn team="blue" kit="blue">
                                    <region name="blue-spawn"/>
                                </spawn>
                            </spawns>
                            <default yaw="90">
                                <cylinder base="95,60,0" radius="3" height="0"/>
                            </default>
                        </spawns>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/other_settings)
                    Add a time limit.

                        <time result="objectives">15m</time>

                    <br/>
                    [i class="icon-share-alt right-ref-link"></i>](modules/gamemode_koth)
                    Specify hills and add win conditions

                        <king>
                            <hills>
                                <hill name="Middle" capture-time="15s" type="variable" ratio="1">
                                    <capture>
                                        <cuboid min="-4,4,-4" max="5,7,5"/>
                                    </capture>
                                    <progress>
                                        <cuboid min="-4,3,-4" max="4,3,4"/>
                                    </progress>
                                    <captured>
                                        <cuboid min="-5,3,-5" max="5,8,5"/>
                                    </captured>
                                </hill>
                                <hill name="Point B" capture-time="15s" type="variable" ratio="1">
                                    <capture>
                                        <cuboid min="-45,12,30" max="-36,15,39"/>
                                    </capture>
                                    <progress>
                                        <cuboid min="-45,11,30" max="-37,11,38"/>
                                    </progress>
                                    <captured>
                                        <cuboid min="-46,11,29" max="-34,16,41"/>
                                    <captured>
                                </hill>
                                <hill name="Point A" capture-time="15s" type="variable" ratio="1">
                                    <capture>
                                        <cuboid min="37,12,-38" max="46,15,-29"/>
                                    </capture>
                                    <progress>
                                        <cuboid min="37,11,-38" max="45,11,-30"/>
                                    </progress>
                                    <captured>
                                        <cuboid min="36,11,-39" max="48,16,-27"/>
                                    </captured>
                                </hill>
                            </hills>
                            <wins>
                                <win team="red">
                                    <any>
                                        <all>
                                            <hill>Point A</hill>
                                            <hill>Point B</hill>
                                            <hill>Middle</hill>
                                        </all>
                                    </any>
                                </win>
                                <win team="blue">
                                    <any>
                                        <all>
                                            <hill>Point A</hill>
                                            <hill>Point B</hill>
                                            <hill>Middle</hill>
                                        </all>
                                    </any>
                                </win>
                            </wins>
                        </king>

                    <br/>
                    [<i class="icon-share-alt right-ref-link"></i>](/modules/main)
                    Close the main map module.

                        </map>
