.container
    .jumbotron.subhead
        %h1 Examples
        %p.lead XML File Examples
    %section
        .row
            = partial('examples_sidebar')
            .col-sm-9
                .page-header
                    %h1 Viridun
                :markdown
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/main)
                    Specify the XML file version and then open the main map module and specify the maps name, version and objective.

                        <?xml version="1.0"?>
                        <map proto="1.3.0">
                        <name>Viridun</name>
                        <version>1.4.2</version>
                        <objective>Be the team with the least amount of deaths after 15 minutes.</objective>

                    <br/>
                    Specify the maps authors and contributors. Each author and contributors `contribution=""` attribute is set to their specific contribution to the map.
                    
                        <authors>
                            <author contribution="Map design and layout">OurLoneHero</author>
                        </authors>
                        <contributors>
                            <contributor contribution="Map design, aesthetic changes, and XML">IM_A_H0B0</contributor>
                            <contributor contribution="Design concepts and map design">ander301</contributor>
                        </contributors>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/teams)
                    Define two teams, their [colors](/reference/formatting) and names.

                        <teams>
                            <team color="blue" max="50">Blue Team</team>
                            <team color="dark red" max="50">Red Team</team>
                        </teams>

                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/filters)
                    Define a fancy redstone filter. Prevents pistons from pushing anything other than fence blocks. Also prevents pistons / fences from being broken using the `deny-all` filter.

                        <filters>
                            <filter name="allow-redstone">
                                <any><!-- At least one below must return ALLOW -->
                                    <all><!-- Returns ALLOW if matches world AND matches a block, denies otherwise -->
                                        <any><!-- Allows if world, denies otherwise -->
                                            <filter name="allow-world" /><!-- Abstain if not world, ALLOW otherwise. -->
                                            <filter name="deny-all" /><!-- Always denies, turning the ABSTAIN into a DENY -->
                                        </any>
                                        <any><!-- Returns allow if it is a matching block -->
                                            <block>PISTON_BASE</block>
                                            <block>PISTON_EXTENSION</block>
                                            <block>PISTON_MOVING_PIECE</block>  
                                            <block>PISTON_STICKY_BASE</block>
                                            <block>AIR</block><!-- Allow the piston to extend -->
                                            <block>FENCE</block><!-- Block being modified is a fence -->
                                        </any>
                                    </all>
                                    <filter name="deny-all" /><!-- If nothing says allow, DENY this -->
                                </any>
                            </filter>
                        </filters>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/regions)
                    Define the `main-area` and apply the maps custom `allow-redstone` filter on it.

                        <regions>
                            <cylinder name="main-area" base="-46,0,-46" radius="200" height="120"/>

                            <apply block="allow-redstone">
                                <region name="main-area"/>
                            </apply>
                        </regions>

                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/playable_region)
                    Specify the playable area, references the `main-area` defined in the regions module.

                        <playable>
                            <region name="main-area"/>
                        </playable>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/kits)
                    Each team kit has leather armor colored in their team color and they inherit the main spawn kit.

                        <kits>
                            <kit name="spawn">
                                <item slot="0">stone sword</item>
                                <item slot="1" enchantment="arrow infinite:1">bow</item>
                                <item slot="28" amount="1">arrow</item>
                                <item slot="2" amount="16">cooked chicken</item>
                                <item slot="3" damage="8229">potion</item> <!-- potion of instant health 2 -->>
                                <potion duration="10" amplifier="1">heal</potion>
                                <potion duration="20">damage resistance</potion>
                            </kit>
                            <kit name="red" parents="spawn">
                                <helmet color="cd0000">leather helmet</helmet>
                                <chestplate color="cd0000">leather chestplate</chestplate>
                                <leggings color="cd0000">leather leggings</leggings>
                                <boots color="cd0000" enchantment="protection fall:2">leather boots</boots>
                            </kit>
                            <kit name="blue" parents="spawn">
                                <helmet color="0066cc">leather helmet</helmet>
                                <chestplate color="0066cc">leather chestplate</chestplate>
                                <leggings color="0066cc">leather leggings</leggings>
                                <boots color="0066cc" enchantment="protection fall:2">leather boots</boots>
                            </kit>
                        </kits>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/spawns)
                    Define where the player spawns. Because the bases are complex multiple regions are defined for each team spawn. Each spawn also specifies the direction the player should face when spawning.

                        <spawns>
                            <spawns kit="blue">
                                <spawn team="blue" yaw="0">
                                    <cuboid min="23,33,-60" max="29,33,-55"/>
                                    <cuboid min="24,33,-41" max="29,33,-46"/>
                                    <cuboid min="-32,33,-3" max="-28,33,2"/>
                                    <cuboid min="-23,79,-4" max="-18,79,2"/>
                                    <cuboid min="-18,87,-5" max="-12,87,-3"/>
                                </spawn>
                                <spawn team="blue" yaw="90">
                                    <cuboid min="40,37,-55" max="45,37,-58"/>
                                    <cuboid min="41,64,-71" max="35,64,-77"/>
                                    <cuboid min="47,72,-39" max="42,72,-44"/>
                                    <cuboid min="40,52,-15" max="32,52,-27"/>
                                    <cuboid min="13,60.5,13" max="14,60.5,16"/>
                                    <cuboid min="-17,33,13" max="-13,33,15"/>
                                </spawn>
                                <spawn team="blue" yaw="180">
                                    <cuboid min="-20,62,-6" max="-10,62,-2"/>
                                    <cuboid min="-1,33,-4" max="3,33,3"/>
                                    <cuboid min="-1,71,6" max="2,71,9"/>
                                    <cuboid min="-17,87,2" max="-12,87,4"/>
                                </spawn>
                            </spawns>
                            <spawns kit="red">
                                <!-- red spawns -->
                                <spawn team="red" yaw="0">
                                    <cuboid min="-107,90,-21" max="-110,90,-25"/>
                                    <cylinder base="-99,63,-73" radius="3" height="0"/>
                                    <cuboid min="-92,37,25" max="-88,37,30"/>
                                </spawn>
                                <spawn team="red" yaw="90">
                                    <cylinder base="-91,76,-72,5" radius="1" height="0"/>
                                    <cuboid min="-72,65,-27" max="-72,65,-23"/>
                                </spawn>
                                <spawn team="red" yaw="180">
                                    <cylinder base="-98.5,84,-72.5" radius="2" height="0"/>
                                    <cuboid min="-109,79,-15" max="-102,79,-29"/>
                                    <cuboid min="-86,80,-11" max="-91,80,-18"/>
                                    <cuboid min="-97,76,-61" max="-101,76,-48"/>
                                    <cuboid min="-88,37,48" max="-84,37,52"/>
                                </spawn>
                                <spawn team="red" yaw="270">
                                    <cuboid min="-142,83,-39" max="-121,83,-35"/>
                                    <cuboid min="-110,65,-15" max="-103,65,-29"/>
                                    <cuboid min="-98,65,-43" max="-114,65,-36"/>
                                </spawn>
                            </spawns>
                            <default yaw="90"><cylinder base="51,27,-7.5" radius="10" height="0"/></default>
                        </spawns>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/gamemode_tdm)
                    Set the game type to team death-match and specify a max run time of 15 minutes in seconds.

                        <score>
                            <time>900</time> <!-- 15 minutes -->
                        </score>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/repair_remove)
                    Specify that stone swords and bows get repaired when dropped or when the player picks one up.

                        <toolrepair>
                            <tool>stone sword</tool>
                            <tool>bow</tool>
                        </toolrepair>
                
                    <br/>
                    [<i class="glyphicon glyphicon-share-alt right-ref-link"></i>](/modules/repair_remove)
                    Remove specific items such as armor when they get dropped to prevent the map from getting cluttered.

                        <itemremove>
                            <item>leather helmet</item>
                            <item>leather chestplate</item>
                            <item>leather leggings</item>
                            <item>leather boots</item>
                            <item>arrow</item>
                            <item>ladder</item>
                            <item>cooked chicken</item>
                            <item>glass bottle</item>
                            <item>potion:0</item><!-- Remove water bottles -->
                        </itemremove>
                
                    <br/>
                    Close the main `<map>` module.

                        </map>
