.jumbotron.subhead
    .container
        %h1 Examples
        %p.lead XML File Examples
.container
    %section
        .page-header
            %h1 Examples
        .row
            = partial('examples_sidebar')
            .span9
                :markdown
                    Commented XML files from maps in the rotation. Files are split up into their individual modules and the modules function is described. Each section contains a link [<i class="icon-share-alt"></i>](#) to the relevant modules page.

