.jumbotron.subhead
    .container
        %h1 Examples
        %p.lead XML File Examples
.container
    %section
        .page-header
            %h1 Examples
        .row
            = partial('examples_sidebar')
            .span9
                :markdown
                    Commented XML files from maps in the rotation.

