.container
    %section
        .page-header
            %h1 Welcome
        %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
        .row
            .col-md-6.text-center
                .well
                    %h1 
                        %i.glyphicon.glyphicon-file
                    %h4 XML Documentation
                    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    %a.btn.btn-primary.btn-lg{:href => "/xml/"} Browse the XML docs


            .col-md-6.text-center
                .well
                    %h1 
                        %i.glyphicon.glyphicon-globe
                    %h4 Web API Documentation
                    %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue.
                    %a.btn.btn-primary.btn-lg{:href => "/api/"} Browse the API docs
