.jumbotron.subhead
    .container
        %h1 Project Ares Documentation
        %p.lead Documentation on XML files that are required for each map added to the servers
.container
    %section
        .page-header
            %h1 Welcome
        %p These docs provide valuable information for XML files with regards to server blah blah blah