.container
    .jumbotron
        %h1 PGM XML Documentation
        %p.lead Documentation on XML files that are required for each map added to the servers
    %section
        .page-header
            %h1 Welcome
        %p These docs provide valuable information to be used when coding XML files. XML files are needed in order for any map released on the Overcast Network to function. The XML defines aspects of the game such as spawn points, kits and more.
