.jumbotron.subhead
    .container
        %h1 PGM XML Documentation
        %p.lead Documentation on XML files that are required for each map added to the servers
.bs-docs-social
    .container
        %ul.bs-docs-social-buttons
            %li
                Recent Changes:
            %li.text-info Polished all the potions.
            %li.text-info Added some magic dust.
.container
    %section
        .page-header
            %h1 Welcome
        %p These docs provide valuable information to be used when coding XML files.
