.container
    .jumbotron.subhead
        %h1 Modules
        %p.lead Building blocks for the map XML.
    %section
        .row
            = partial('modules_sidebar')
            .col-lg-9
                .page-header
                    %h1 Map XML Modules
                %p Page Currently Unused
                %h3 What is the XML File
                %ul
                    %li PGM stands for PVP Game Manager.
                    %li A maps XML file is used to specify how the PGM plugin will setup a match, it's useless without the PGM plugin to run it.
                    %li To disable void fog & the dark horizon change the maps level.dat generatorName to flat.
                    %li
                        What is XML?
                        %a{:href => "http://www.w3schools.com/xml/xml_whatis.asp"}
                            Introduction to XML
                    %li
                        See
                        %a{:href => "https://maps.oc.tc"}
                            maps.oc.tc
                        for XML file examples.
                    %li The XML files should be run through a XML validator before being submitted.
                    %li XML files should also be correctly indented to improve readability.
