.col-sm-3
    .sidebar
        %ul.nav.nav-pills.nav-stacked
            %li{:class => (current_page.include?("examples/snowy_wars") ? "active" : "")}
                %a{:href => "/examples/snowy_wars"} Snowy Wars
            %li{:class => (current_page.include?("examples/viridun") ? "active" : "")}
                %a{:href => "/examples/viridun"} Viridun
            %li{:class => (current_page.include?("examples/harb") ? "active" : "")}
                %a{:href => "/examples/harb"} Harb
            %li{:class => (current_page.include?("examples/rfv3") ? "active" : "")}
                %a{:href => "/examples/rfv3"} Race For Victory 3
            %li{:class => (current_page.include?("examples/eldritch") ? "active" : "")}
                %a{:href => "/examples/eldritch"} GS: Eldritch
