- @nav_title = "Map XML Examples"
- @subnav_content = [\
- {"path" => "xml/examples/snowy_wars", "name" => "Snowy Wars"},\
- {"path" => "xml/examples/viridun", "name" => "Viridun"},\
- {"path" => "xml/examples/harb", "name" => "Harb"},\
- {"path" => "xml/examples/rfv3", "name" => "Race For Victory 3"},\
- {"path" => "xml/examples/eldritch", "name" => "GS: Eldritch"}]

= partial('sidebar')
