.span3
    .sidebar
        %ul.nav.nav-pills.nav-stacked
            %li{:class => (current_page.include?("examples/snowy_wars") ? "active" : "")}
                %a{:href => "/examples/snowy_wars"} Snowy Wars
            %li.disabled{:class => (current_page.include?("examples/viridun") ? "active" : "")}
                %a{:href => "#"} Viridun
            %li{:class => (current_page.include?("examples/harb") ? "active" : "")}
                %a{:href => "/examples/harb"} Harb
            %li.disabled{:class => (current_page.include?("examples/rfv3") ? "active" : "")}
                %a{:href => "#"} Race For Victory 3
