.span3
    .sidebar
        %ul.nav.nav-pills.nav-stacked
            %li{:class => (current_page.include?("reference") ? "active" : "")}
                %a{:href => "#"} Virdium
            %li{:class => (current_page.include?("modules/referece") ? "active" : "")}
                %a{:href => "#"} Race For the Wool 3
            %li{:class => (current_page.include?("modules/referece") ? "active" : "")}
                %a{:href => "#"} Snowy
            %li{:class => (current_page.include?("modules/referece") ? "active" : "")}
                %a{:href => "#"} Moo