- @nav_title = "Map XML Examples"
- @subnav_content = [\
- {"path" => "examples/snowy_wars", "name" => "Snowy Wars"},\
- {"path" => "examples/viridun", "name" => "Viridun"},\
- {"path" => "examples/harb", "name" => "Harb"},\
- {"path" => "examples/rfv3", "name" => "Race For Victory 3"},\
- {"path" => "examples/eldritch", "name" => "GS: Eldritch"}]
- {"path" => "examples/airship_battles, "name" => "Airship Battles"}]

= partial('sidebar')
