- @sidebar_nav_title = "Guides"
- @sidebar_nav_content = [\
- "XML Pointers",\
- {"path" => "/guides/regions", "name" => "Defining Regions"},\
- {"path" => "/guides/filter_apply_order", "name" => "Filter Apply Order"},\
- {"path" => "https://oc.tc/forums/topics/5674a2ca5f35b90338000583", "name" => "XML Conventions", "icon" => "fa-comments"},\
- "Packaging Maps",\
- {"path" => "/guides/packaging/cleaning_files", "name" => "Cleaning Files"},\
- {"path" => "/guides/packaging/pruning_chunks", "name" => "Pruning Chunks"},\
- {"path" => "/guides/packaging/compiling_releasing", "name" => "Compiling and Releasing"}]

.col-sm-3
    = partial('sidebar')
