- @nav_title = "XML Modules"
- @subnav_content = [\
- {"path" => "xml/", "name" => "Main Map Element", "match" => /xml\/index\.[^\/]*$/},\
- {"path" => "xml/includes", "name" => "XML File Includes"},\
- {"path" => "xml/tutorial", "name" => "Map Tutorial"},\
- "Game Modes",\
- {"path" => "xml/gamemode_ctw", "name" => "Capture the Wool"},\
- {"path" => "xml/gamemode_dtm", "name" => "Destroy the Monument"},\
- {"path" => "xml/gamemode_blitz", "name" => "Blitz"},\
- {"path" => "xml/gamemode_dtc", "name" => "Destroy the Core"},\
- {"path" => "xml/gamemode_tdm", "name" => "Team Death-match"},\
- {"path" => "xml/gamemode_other", "name" => "Other Game Modes"},\
- "Game Settings",\
- {"path" => "xml/teams", "name" => "Teams"},\
- {"path" => "xml/rules", "name" => "Rules"},\
- {"path" => "xml/kits", "name" => "Kits"},\
- {"path" => "xml/classes", "name" => "Classes"},\
- {"path" => "xml/items", "name" => "Items & Armor"},\
- {"path" => "xml/potions", "name" => "Potion Effects"},\
- {"path" => "xml/repair_remove", "name" => "Repair & Remove"},\
- {"path" => "xml/disabledamage", "name" => "Disable Damage"},\
- {"path" => "xml/projectiles", "name" => "Projectiles"},\
- {"path" => "xml/tnt", "name" => "TNT"},\
- {"path" => "xml/mobs", "name" => "Mob Spawning"},\
- {"path" => "xml/killreward", "name" => "Kill Reward"},\
- {"path" => "xml/other_settings", "name" => "Other Settings"},\
- "Filters & Regions",\
- {"path" => "xml/filters", "name" => "Filters"},\
- {"path" => "xml/regions", "name" => "Regions"},\
- {"path" => "xml/spawns", "name" => "Spawns"},\
- {"path" => "xml/playable_region", "name" => "Playable Region"},\
- {"path" => "xml/lanes", "name" => "Lanes"},\
- {"path" => "xml/portals", "name" => "Portals"},\
- {"path" => "xml/score_boxes", "name" => "Score Boxes"}]

= partial('sidebar')
