- @nav_title = "XML Modules"
- @subnav_content = [\
- {"path" => "modules/main", "name" => "Main Map Element"},\
- {"path" => "modules/includes", "name" => "XML File Includes"},\
- {"path" => "modules/tutorial", "name" => "Map Tutorial"},\
- "Game Modes",\
- {"path" => "modules/gamemode_ctw", "name" => "Capture the Wool"},\
- {"path" => "modules/gamemode_dtm", "name" => "Destroy the Monument"},\
- {"path" => "modules/gamemode_blitz", "name" => "Blitz"},\
- {"path" => "modules/gamemode_dtc", "name" => "Destroy the Core"},\
- {"path" => "modules/gamemode_tdm", "name" => "Team Death-match"},\
- {"path" => "modules/gamemode_other", "name" => "Other Game Modes"},\
- "Game Settings",\
- {"path" => "modules/teams", "name" => "Teams"},\
- {"path" => "modules/rules", "name" => "Rules"},\
- {"path" => "modules/kits", "name" => "Kits"},\
- {"path" => "modules/classes", "name" => "Classes"},\
- {"path" => "modules/items", "name" => "Items & Armor"},\
- {"path" => "modules/potions", "name" => "Potion Effects"},\
- {"path" => "modules/repair_remove", "name" => "Repair & Remove"},\
- {"path" => "modules/disabledamage", "name" => "Disable Damage"},\
- {"path" => "modules/projectiles", "name" => "Projectiles"},\
- {"path" => "modules/tnt", "name" => "TNT"},\
- {"path" => "modules/mobs", "name" => "Mob Spawning"},\
- {"path" => "modules/killreward", "name" => "Kill Reward"},\
- {"path" => "modules/gamerules", "name" => "Gamerules"},\
- {"path" => "modules/other_settings", "name" => "Other Settings"},\
- "Filters & Regions",\
- {"path" => "modules/filters", "name" => "Filters"},\
- {"path" => "modules/regions", "name" => "Regions"},\
- {"path" => "modules/spawns", "name" => "Spawns"},\
- {"path" => "modules/playable_region", "name" => "Playable Region"},\
- {"path" => "modules/lanes", "name" => "Lanes"},\
- {"path" => "modules/portals", "name" => "Portals"},\
- {"path" => "modules/score_boxes", "name" => "Score Boxes"},\
- {"path" => "modules/proximity_alarms", "name" => "Proximity Alarms"},\
- "Block Behavior",\
- {"path" => "modules/renewables", "name" => "Renewables"},\
- {"path" => "modules/blockdrops", "name" => "Block Drops"}]

= partial('sidebar')
