- @nav_title = "Packaging Maps for Release"
- @subnav_content = [\
- {"path" => "packaging/cleaning_files", "name" => "Cleaning Files"},\
- {"path" => "packaging/pruning_chunks", "name" => "Pruning Chunks"},\
- {"path" => "packaging/compiling_releasing", "name" => "Compiling and Releasing"}]

.col-sm-3
    = partial('sidebar')
