.btn-group.subnav.pull-right.visible-xs
    %button.btn.btn-default.btn-block.dropdown-toggle{:type => "button", :"data-toggle" => "dropdown"}
        %i.fa.fa-fw.fa-th-list
        %i.fa.fa-fw.fa-caret-down
    %ul.dropdown-menu.subnav-dropdown{:role => "menu"}
        - @page_nav_content.each_with_index do |item, index|
            - if item.kind_of?(Hash)
                %li{:class => (current_page.include?("#{item['path']}") ? "active" : "")}
                    %a{:href => "#{item['path']}"} #{item['name']}
            - elsif item.kind_of?(String)
                - if index != 0
                    %li.divider
                %li.dropdown-header #{item}
