- @nav_title = "General Reference"
- @subnav_content = [\
- {"path" => "xml/reference/inventory", "name" => "Inventory"},\
- {"path" => "xml/reference/formatting", "name" => "Formatting & Colors"},\
- {"path" => "xml/reference/enchantments", "name" => "Enchantments"},\
- {"path" => "xml/reference/potion_effects", "name" => "Potions"}]

= partial('sidebar')
