- @nav_title = "General Reference"
- @subnav_content = [\
- {"path" => "reference/inventory", "name" => "Inventory"},\
- {"path" => "reference/formatting", "name" => "Formatting & Colors"},\
- {"path" => "reference/time_periods", "name" => "Time Periods"},\
- {"path" => "reference/enchantments", "name" => "Enchantments"},\
- {"path" => "reference/potion_effects", "name" => "Potions"},\
- {"path" => "reference/attributes", "name" => "Attributes"}]

= partial('sidebar')
